Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:

trigger:
  branches:
    include:
      - tst

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

added keys in translations for country flag component
  frontend/components/landing/CountryFlagInfo.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

hide initiatives that have completed an end phase (#196)
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Feature/168436/add links from country to co pages (#195)
  frontend/components/common/CountryItem.vue
  frontend/components/project/OfficeLinkField.vue
  frontend/components/project/ProjectData.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

remove last phase, hide some comments
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/components/project/ProjectData.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fixed typo
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Replaced old logo, updated footer text, removed term and conditions
  django/templates/email/master-inline.html
  django/templates/email/master.html
  nginx/site/static/email/unicef-logo-banner-old.png
  nginx/site/static/email/unicef-logo-banner.svg
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

remove last phase, hide some comments (#197)
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/components/project/ProjectData.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updated column count when sectors filtered
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fixed logo dimensions
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

update def in add_taxonomies to initial form and fix the size of field's box
  django/project/admin.py
  django/project/management/commands/add_taxonomies.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added keys in translations for country flag component (#200)
  frontend/components/landing/CountryFlagInfo.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updated column count when sectors filtered (#199)
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Feature/166702/email template fixes (#198)
  django/templates/email/master-inline.html
  django/templates/email/master.html
  nginx/site/static/email/unicef-logo-banner-old.png
  nginx/site/static/email/unicef-logo-banner.svg
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

removed terms url and updated footer disclaimer
  django/templates/email/master-inline.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add separate logic command to create superuser on Tilt
  Tiltfile
  django/user/management/__init__.py
  django/user/management/commands/create_superuser.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/166702/email template fixes (#203)
  django/templates/email/master-inline.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add separate logic command to create superuser on Tilt (#202)
  Tiltfile
  django/user/management/__init__.py
  django/user/management/commands/create_superuser.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

updated logo
  django/templates/email/master-inline.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/166702/email template fixes (#204)
  django/templates/email/master-inline.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

updated unicef logo
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/166702/email template fixes (#205)
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Fixed the branch in the README file
  README.md
Due: none

updated logo
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/166702/email template fixes (#206)
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added padding to logo
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update master.pot translations
  django/translations/master.pot
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/166702/email template fixes (#207)
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixed top padding of logo
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added learn more link to each phase
  frontend/components/project/sections/StageOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

changed organisation-portfolio-innovation-solutions to organisation-solutions
  frontend/components/BreadCrumb.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/index.vue
  frontend/pages/_organisation/solutions/_id.vue
  frontend/pages/_organisation/solutions/_id/edit.vue
  frontend/pages/_organisation/solutions/_id/edit/index.vue
  frontend/pages/_organisation/solutions/_id/index.vue
  frontend/pages/_organisation/solutions/create.vue
  frontend/pages/_organisation/solutions/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feat/Add command to restore 2021-11-09 initiatives
  django/project/management/commands/restore_modified_projects_part2.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add command to startup_actions script
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update translations master.pot file
  django/translations/master.pot
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/166836/add links to phases (#208)
  django/project/admin.py
  django/project/migrations/0107_reorder_stages.py
  django/project/migrations/0107_stage_link.py
  django/project/migrations/0108_reorder_stages.py
  django/project/models.py
  django/project/tests/project_stage_tests.py
  django/project/tests/project_structure_tests.py
  django/project/views.py
  frontend/components/project/sections/StageOverview.vue
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

changed organisation-portfolio-innovation-solutions to organisation-solutions (#210)
  frontend/components/BreadCrumb.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/index.vue
  frontend/pages/_organisation/solutions/_id.vue
  frontend/pages/_organisation/solutions/_id/edit.vue
  frontend/pages/_organisation/solutions/_id/edit/index.vue
  frontend/pages/_organisation/solutions/_id/index.vue
  frontend/pages/_organisation/solutions/create.vue
  frontend/pages/_organisation/solutions/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Add comments
  django/project/management/commands/restore_modified_projects_part2.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update translations master.pot file (#209)
  django/translations/master.pot
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Bugfix/168505/apply second phase of bugfix 166746 (#211)
  django/project/management/commands/restore_modified_projects_part2.py
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml
