Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:

trigger:
  branches:
    include:
      - tst

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

fix/Fix issue psycopg2.ProgrammingError: cant adapt type dict
  anonymize_db.py
Due: none

dummy commit
  anonymize_db.py
  dev.py
Due: none

feat/Add get_project_region_id method to the Project model
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Modify region in User model to have verbose_name and default parameters
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Remove default from region attribute in UserProfile model
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add region to the user serializer and view
  django/user/serializers.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Extend InTeamOrReadOnly permission class to include the check for same region
  django/project/permissions.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added permisions on draft for user region if region is same with initiative
  frontend/components/project/ProjectNavigation.vue
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feat/Add region to projectFields in projects.js
  frontend/utilities/projects.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feat/Add region to the projects/{id} representation
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add published attribute to _id.vue
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fix/Change get_region_display to region to return id and not name
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge dev into tst (#125)
  django/project/views.py
  django/search/views.py
  frontend/components/common/TopBar.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/GeneralOverview.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/pages/_organisation.vue
  frontend/pages/_organisation/index.vue
  frontend/store/landing.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Feature/157880/create and display regional focal point field at django site admin (#126)
  django/project/models.py
  django/project/permissions.py
  django/user/migrations/0034_userprofile_region.py
  django/user/models.py
  django/user/serializers.py
  django/user/views.py
  frontend/components/project/ProjectNavigation.vue
  frontend/pages/_organisation/initiatives/_id.vue
  frontend/utilities/projects.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

added permisions on draft for user region if region is same with initiative
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updated user region permissions for edit draft
  frontend/components/project/ProjectNavigation.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Feature/157880/regional focal point front end (#127)
  frontend/components/project/ProjectNavigation.vue
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Some updates for the existing test cases AND Create New Solution
  e2e/cypress.config.js
  e2e/cypress/e2e/CreateNewSolution.cy.js
  e2e/cypress/e2e/SortAllSolutionsTable.cy.js
  e2e/cypress/pages/AllSolutionsPage.js
  e2e/cypress/pages/InnovationPortfoliosPage.js
  e2e/cypress/pages/NewSolutionPage.js
  e2e/cypress/support/e2e.js
Due: none

fixes for Create Solution case
  e2e/cypress/e2e/CreateNewSolution.cy.js
  e2e/cypress/pages/NewSolutionPage.js
Due: none

feat/Add lead and supporting sectors
  django/project/models.py
  django/project/resources.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add sectors data migration file
  django/project/management/commands/migrate_sectors.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added the unicef_supporting_sectors and the unicef_leading_sector fields for the publish api call (put)
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Change sector names to ids
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

changed unicef_leading_sector from integer field to list
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

changed leading_sector to array
  frontend/utilities/projects.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fix/Change None to empty list in case of no unicef_leading_sector
  django/project/management/commands/migrate_sectors.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added the unicef_supporting_sectors and the unicef_leading_sector fields for the update draft api call
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Fixes for Create New Solution
  e2e/cypress/e2e/CreateNewSolution.cy.js
  e2e/cypress/pages/AllSolutionsPage.js
  e2e/cypress/pages/NewSolutionPage.js
Due: none

feat/Add lead and supporting sectors to Search model
  django/search/models.py
  django/search/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add unicef_leading_sector and unicef_supporting_sectors to test data generation script
  django/project/management/commands/create_portfolio_data_from_json.py
  django/search/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Fill search_projectsearch table with unicef_leading_sector and unicef_supporting_sectors data
  django/project/management/commands/migrate_sectors.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add migrate_sectors command in startup_actions script
  django/project/management/commands/migrate_sectors.py
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Return array of one item in the unicef_leading_sector attribute
  django/project/management/commands/migrate_sectors.py
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

view sector corrections
  frontend/components/project/ProjectData.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Merge tst to uat (#128)
  django/project/views.py
  django/search/views.py
  frontend/components/common/TopBar.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/GeneralOverview.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/pages/_organisation.vue
  frontend/pages/_organisation/index.vue
  frontend/store/landing.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

initiatives table columns leading & supporting
  frontend/components/dashboard/ListExport.vue
  frontend/components/dashboard/MainTable.vue
  frontend/components/dialogs/ProjectHistoryDialog.vue
  frontend/components/portfolio/dashboard/MainTable.vue
  frontend/store/dashboard.js
  frontend/store/system.js
  frontend/utilities/import.js
  frontend/utilities/map.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Feature/158679/initiative details view replace sectors field (#129)
  django/project/management/commands/create_portfolio_data_from_json.py
  django/project/management/commands/migrate_sectors.py
  django/project/models.py
  django/project/resources.py
  django/project/serializers.py
  django/search/models.py
  django/search/serializers.py
  django/startup_actions.sh
  frontend/components/dashboard/ListExport.vue
  frontend/components/dashboard/MainTable.vue
  frontend/components/dialogs/ProjectHistoryDialog.vue
  frontend/components/portfolio/dashboard/MainTable.vue
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/MultiSelectorPlatform.vue
  frontend/components/project/ProjectData.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/Categorization.vue
  frontend/store/dashboard.js
  frontend/store/project.js
  frontend/store/projects.js
  frontend/store/system.js
  frontend/utilities/import.js
  frontend/utilities/map.js
  frontend/utilities/projects.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Add migration files
  django/search/migrations/0027_auto_20230612_1457.py
  django/user/migrations/0035_auto_20230612_1457.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

bug fix for export initiatives table, sectors now return the combination of lead and supporting sectors
  frontend/components/dashboard/ListExport.vue
  frontend/store/project.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

addition of new sector fields in dashboard_columns
  django/core/data/dashboard_columns.py
  frontend/components/dashboard/TableTopActions.vue
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml
