Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

chore/Update packages to resolve inconsistencies
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update remaining packages
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixes for switches at country page suites
  e2e/cypress/e2e/EmptyPhaseAndStageBoard.cy.js
  e2e/cypress/e2e/ExportUserFromAdminPageToCSV.cy.js
  e2e/cypress/e2e/SwitchPhaseAndStageBoard.cy.js
  e2e/cypress/e2e/VisibleAndFunctionalGear.js
  e2e/cypress/pages/CountryPage.js
Due: none

added background export action for auth users table
  django/core/admin/__init__.py
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

revert packages to explore admin panel issue
  django/core/views.py
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

changed project data fallback for projectBar and breadcrumps
  frontend/components/BreadCrumb.vue
  frontend/components/common/ProjectBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

id correction
  frontend/components/common/ProjectBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

users list timing loading fix and data refresh for initiatives
  frontend/components/common/ProjectBar.vue
  frontend/pages/_organisation.vue
  frontend/store/project.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

added data reset on loadProject if no data exist
  frontend/store/project.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Bugfix/inconsistency in the initiative name (#176)
  frontend/components/BreadCrumb.vue
  frontend/components/common/ProjectBar.vue
  frontend/pages/_organisation.vue
  frontend/store/project.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updated button ui and added text to link
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updated button ui and added text to link (#177)
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Merge dev to tst (#179)
  django/core/resources.py
  frontend/components/BreadCrumb.vue
  frontend/components/common/ProjectBar.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/pages/_organisation.vue
  frontend/store/phasesStagesBoard.js
  frontend/store/project.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

general fixes
  e2e/cypress/e2e/VisibleAndFunctionalGear.cy.js
  e2e/cypress/e2e/VisibleAndFunctionalGear.js
  e2e/cypress/pages/CountryPage.js
Due: none

add download file
  e2e/cypress/e2e/ExportUserFromAdminPageToCSV.cy.js
  e2e/cypress/pages/AdminUsersPage.js
Due: none

feat/Add startup script to restore modified date of projects
  django/project/management/commands/restore_modified_projects.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Modify startup_actions script
  django/project/management/commands/restore_modified_projects.py
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feature/Add restore_modified_projects startup script
  django/project/management/commands/restore_modified_projects.py
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feature/Add restore_modified_projects startup script (#181)
  django/project/management/commands/restore_modified_projects.py
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Minor typo in startup_actions.sh
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove unnecessary startup scripts
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

[MAJOR]Update Django==3.2 to Django==4.2.3
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Change ugettext_lazy to gettext_lazy
  django/core/data/chart_data.py
  django/core/data/dashboard_columns.py
  django/core/data/landing_page_defaults.py
  django/core/data/review_questions.py
  django/core/data/search_filters.py
  django/core/data/sub_level_types.py
  django/core/resources.py
  django/country/models.py
  django/project/admin.py
  django/project/admin_filters.py
  django/project/models.py
  django/project/resources.py
  django/project/serializers.py
  django/project/tasks.py
  django/tiip/settings.py
  django/user/forms.py
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Change import for KeyTextTransform
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Change ugettext to gettext
  django/core/utils.py
  django/core/views.py
  django/country/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Remove import url from django.conf.urls
  django/azure_services/urls.py
  django/core/urls.py
  django/country/urls.py
  django/project/urls.py
  django/tiip/urls.py
  django/user/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Check issue with django-import-export-celery module
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add_the_checkbox_set_default_values_add_new_field_in_api
  django/project/models.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

migration-file
  django/project/migrations/0106_stage_completion_marks_an_initiative_as_inactive.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Change djangorestframework-jwt into djangorestframework-simplejwt
  django/core/views.py
  django/requirements.txt
  django/tiip/settings.py
  django/tiip/settings_deployed.py
  django/user/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix a bug with all false
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix a bug-save the changes to database
  django/project/migrations/0106_stage_completion_marks_an_initiative_as_inactive.py
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update PostgreSQL from 10.4 to 15.2 in docker-compose and Tiltfile
  Tiltfile
  docker-compose.yml
Due: none

chore/Fix warnings on translation on building process
  django/azure_services/urls.py
  django/core/data/review_questions.py
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add new authorization process
  django/requirements.txt
  django/tiip/settings.py
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add comments and minor refactor to CustomTokenObtainPairSerializer
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

UI changes
  frontend/assets/style/variables.less
  frontend/components/BreadCrumb.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

UI changes (#182)
  frontend/assets/style/variables.less
  frontend/components/BreadCrumb.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Updated breadcrumbs My Initiatives to Initiatives link to inventory list
  frontend/components/BreadCrumb.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Updated breadcrumbs My Initiatives to Initiatives link to inventory list (#183)
  frontend/components/BreadCrumb.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
  azure-pipelines/frontend/tst-trigger.yml: any of: frontend
  azure-pipelines/frontend/uat-trigger.yml: any of: frontend
