Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

feat/Add mock api calls for get/upd aad users
  django/user/adapters.py
  django/user/mock_aad_users.json
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge feature branch feature/130111/add-team-member-revision into dev
  django/user/adapters.py
  django/user/mock_aad_users.json
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add celery task
  django/azure/tasks.py
  django/tiip/settings_deployed.py
  django/user/tasks.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

serarate component for porfolios tabs
  frontend/components/common/TabsPortfolios.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

serarate component for porfolios tabs (#88)
  frontend/components/common/TabsPortfolios.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

removed footer from error layout
  frontend/layouts/error-layout.vue
Due: azure-pipelines/frontend/dev-trigger.yml

removed footer from error layout (#89)
  frontend/layouts/error-layout.vue
Due: azure-pipelines/frontend/dev-trigger.yml

changed department field, teamSelector takes profiles with label
  frontend/components/project/TeamSelector.vue
  frontend/store/system.js
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Apply commits
  django/user/serializers.py
  django/user/views.py
  frontend/components/project/TeamSelector.vue
  frontend/store/system.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

chore/Update startup_actions.sh
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixed problem statement sorting by portfolio asc, fixed table width styling
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fixed problem statement sorting by portfolio asc, fixed table width styling (#90)
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

delete button changed style
  frontend/components/solution/FormActionsAside.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

delete button changed style (#91)
  frontend/components/solution/FormActionsAside.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

Set Debug to False if environment is Production
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add basic create solution functionality
  django/project/serializers.py
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/153199/improve person picker select list details revision (#92)
  django/user/serializers.py
  django/user/views.py
  frontend/components/project/TeamSelector.vue
  frontend/store/system.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

Edited the README file with the new instructions to build locally
  README.md
Due: none

Updated the tilt URL to display all the resources
  README.md
Due: none

Edited the README file
  README.md
Due: none

Added local development configuration
  .dockerignore
  .gitignore
  Tiltfile
  django/.env.local
  django/helm/values-dev.yaml
  frontend/.dockerignore
  frontend/.env
  frontend/.gitignore
  frontend/helm/values-dev.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

chore/Refactor create and update methods in SolutionSerializer
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Minor fix change portfolio-update to solution-update
  django/project/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor update solution functionality
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Apply autopep8 formatter
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Initiatives tab removed from remaining pages, Not authorized check removed from phases page
  frontend/components/common/ProjectBar.vue
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

updated focal point labels
  frontend/components/project/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/147526 create solution revision (#95)
  django/project/serializers.py
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Initiatives tab removed from remaining pages, Not authorized check re… (#94)
  frontend/components/common/ProjectBar.vue
  frontend/components/project/sections/GeneralOverview.vue
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fixed last updated date
  frontend/components/common/chart/cStages.vue
  frontend/components/project/ProjectData.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fix/Comment out code to check project.to_representation.
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

word wrap fix
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/TeamSelector.vue
  frontend/components/project/UserProfileSelector.vue
Due: azure-pipelines/frontend/dev-trigger.yml

word wrap fix (#96)
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/TeamSelector.vue
  frontend/components/project/UserProfileSelector.vue
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Deactivate cron job in dev env
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

focal point multi line text
  frontend/components/project/FocalProfileSelector.vue
Due: azure-pipelines/frontend/dev-trigger.yml

focal point multi line text (#97)
  frontend/components/project/FocalProfileSelector.vue
Due: azure-pipelines/frontend/dev-trigger.yml

remove read_only attribute
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

remove read_only attribute (#98)
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added sorting in all solutions page, improved sorting in portfolio solutions
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

feat/Modify code to test aad fetch/update functionality on dev
  django/azure/provider.py
  django/user/adapters.py
  django/user/tasks.py
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
