Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

Go to dashboard after edit profile
  frontend/components/EditProfile.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Go to dashboard after edit profile (#113)
  frontend/components/EditProfile.vue
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Remove uat from the available envs for task fetch_users_from_aad_task
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove debug code
  django/azure/adapters.py
  django/azure/tasks.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge tst into uat (#114)
  django/azure/adapters.py
  django/azure/tasks.py
  django/tiip/settings_deployed.py
  frontend/components/EditProfile.vue
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

hide draft form if not allowed
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

hide draft form if not allowed (#115)
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Merge tst into uat (#116)
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

initial table layout with sample data
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/pages/_organisation/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml

improved table styling, added flag component with sample text
  frontend/components/common/TopBar.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

improved styling for initiatives table and flag info
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

feat/Add region field to the UserProfile model
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add migration file for region attribute in UserProfile model
  django/user/migrations/0034_userprofile_region.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Create new permissions class for regional focal point
  django/project/permissions.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added sorting and last updated logic, text when no initiatives, fixed to get country dynamically
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/pages/_organisation.vue
  frontend/pages/_organisation/index.vue
  frontend/store/landing.js
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/158083/initiatives by phase board (#118)
  frontend/components/common/TopBar.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/pages/_organisation.vue
  frontend/pages/_organisation/index.vue
  frontend/store/landing.js
Due: azure-pipelines/frontend/dev-trigger.yml

fix/Remove overriding get_permissions method (#117)
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/160528/changes on focal point (#119)
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

feat/Add published query parameter to the get_queryset
  django/search/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Move anonymize_db script at root project and remove old user.py script
  anonymize_db.py
  django/anonymizer/user.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Add exception handling for connection failure
  anonymize_db.py
Due: none

feat/Add all tables and columns to anonymize
  anonymize_db.py
Due: none

added data-test ids for testing
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

added data-test ids for testing (#121)
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Refactor
  anonymize_db.py
Due: none

feat/Add draft anonymization
  anonymize_db.py
Due: none

data-test index update
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/PortfolioTableInput.vue
Due: azure-pipelines/frontend/dev-trigger.yml

data-test index update (#122)
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/PortfolioTableInput.vue
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Refactor code
  anonymize_db.py
Due: none

start date fix
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Rollback and refactor
  anonymize_db.py
Due: none

start date fix (#123)
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

dummy commit
  anonymize_db.py
Due: none

feat/Add published query parameter to the get_queryset (#120)
  django/search/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

hide square logo and change menu height
  frontend/components/common/TopBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Refactor anonymization process to take care of the table connections
  anonymize_db.py
Due: none

added column count and changes to styling
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

added column count and changes to styling (#124)
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

feat/Add project_portfolio and country_country empty to avoid key constraint issues
  anonymize_db.py
Due: none

fix/Convert the python dicts to jsonb to avoid issues in the db
  anonymize_db.py
Due: none

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
