Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:

trigger:
  branches:
    include:
      - tst

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

Revert commits 2ed8b75c01bd61b4a100830931c58c340ab6f98c to 46a5dcfae45117ed4d0827b62486a92b6965e2c7
  django/azure_services/adapters.py
  django/project/models.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

updated to fix problematic entries in all solution log rows
  django/kpi/management/commands/update_solutionlog.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Bugfix/163402/dashboarding system error (#150)
  django/kpi/management/commands/update_solutionlog.py
  django/kpi/tasks.py
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge dev to tst (#152)
  django/.coveragerc
  django/azure/apps.py
  django/azure_services/__init__.py
  django/azure_services/adapters.py
  django/azure_services/apps.py
  django/azure_services/migrations/__init__.py
  django/azure_services/provider.py
  django/azure_services/tasks.py
  django/azure_services/urls.py
  django/azure_services/views.py
  django/project/admin.py
  django/project/migrations/0104_deltalink.py
  django/project/models.py
  django/project/views.py
  django/tiip/internal_ips.py
  django/tiip/settings.py
  django/tiip/urls.py
  django/user/adapters.py
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/store/projects.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Add log statements
  django/azure_services/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add delta to graph url
  django/azure_services/adapters.py
  django/project/models.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove redundant logging statements
  django/azure_services/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Rollback to pre-deltaLink mechanism
  django/azure_services/adapters.py
  django/project/models.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove redundant files
  django/project/migrations/0104_deltalink.py
  django/tiip/internal_ips.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge dev to tst (#154)
  django/azure_services/adapters.py
  django/kpi/management/commands/update_solutionlog.py
  django/kpi/tasks.py
  django/project/models.py
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge tst to uat (#155)
  django/.coveragerc
  django/azure/apps.py
  django/azure_services/__init__.py
  django/azure_services/adapters.py
  django/azure_services/apps.py
  django/azure_services/migrations/__init__.py
  django/azure_services/provider.py
  django/azure_services/tasks.py
  django/azure_services/urls.py
  django/azure_services/views.py
  django/kpi/management/commands/update_solutionlog.py
  django/kpi/tasks.py
  django/project/admin.py
  django/project/migrations/0104_deltalink.py
  django/project/models.py
  django/project/views.py
  django/startup_actions.sh
  django/tiip/internal_ips.py
  django/tiip/settings.py
  django/tiip/urls.py
  django/user/adapters.py
  frontend/components/common/TopBar.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/store/projects.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Performance optimization (#156)
  Dockerfile.frontend
  frontend/Dockerfile
  frontend/components/DhaLogin.vue
  frontend/components/common/Avatar.vue
  frontend/components/common/CountryFlag.vue
  frontend/components/common/DhaFooter.vue
  frontend/components/common/EmptyProjects.vue
  frontend/components/common/TopBar.vue
  frontend/components/dialogs/ProjectHistoryDialog.vue
  frontend/components/feedback/RawDjangoFeedback.vue
  frontend/components/landing/AboutSection.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/parts/NewsCard.vue
  frontend/components/portfolio/form/NewPortfolioForm.vue
  frontend/components/project/ProjectForm.vue
  frontend/components/project/history/values/ValueCoverImage.vue
  frontend/nuxt.config.js
  frontend/pages/_organisation.vue
  frontend/pages/_organisation/index.vue
  frontend/pages/_organisation/inventory/list.vue
  frontend/plugins/i18n.js
  frontend/store/offices.js
  frontend/store/system.js
  frontend/store/user.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Merge dev to tst (#157)
  Dockerfile.frontend
  frontend/Dockerfile
  frontend/components/DhaLogin.vue
  frontend/components/common/Avatar.vue
  frontend/components/common/CountryFlag.vue
  frontend/components/common/DhaFooter.vue
  frontend/components/common/EmptyProjects.vue
  frontend/components/common/TopBar.vue
  frontend/components/dialogs/ProjectHistoryDialog.vue
  frontend/components/feedback/RawDjangoFeedback.vue
  frontend/components/landing/AboutSection.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/parts/NewsCard.vue
  frontend/components/portfolio/form/NewPortfolioForm.vue
  frontend/components/project/ProjectForm.vue
  frontend/components/project/history/values/ValueCoverImage.vue
  frontend/nuxt.config.js
  frontend/pages/_organisation.vue
  frontend/pages/_organisation/index.vue
  frontend/pages/_organisation/inventory/list.vue
  frontend/plugins/i18n.js
  frontend/store/offices.js
  frontend/store/system.js
  frontend/store/user.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Merge tst into uat (#158)
  Dockerfile.frontend
  frontend/Dockerfile
  frontend/components/DhaLogin.vue
  frontend/components/common/Avatar.vue
  frontend/components/common/CountryFlag.vue
  frontend/components/common/DhaFooter.vue
  frontend/components/common/EmptyProjects.vue
  frontend/components/common/TopBar.vue
  frontend/components/dialogs/ProjectHistoryDialog.vue
  frontend/components/feedback/RawDjangoFeedback.vue
  frontend/components/landing/AboutSection.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/parts/NewsCard.vue
  frontend/components/portfolio/form/NewPortfolioForm.vue
  frontend/components/project/ProjectForm.vue
  frontend/components/project/history/values/ValueCoverImage.vue
  frontend/nuxt.config.js
  frontend/pages/_organisation.vue
  frontend/pages/_organisation/index.vue
  frontend/pages/_organisation/inventory/list.vue
  frontend/plugins/i18n.js
  frontend/store/offices.js
  frontend/store/system.js
  frontend/store/user.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Update django to v2.2
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add upgrade pip to Dockerfile.django
  Dockerfile.django
Due: none

chore/Update Django to v3.2
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add autocomplete field managers
  django/project/admin.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update django-admin-sortable2 to v 1.0.4
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Added country inventory link button on homepage
  frontend/components/landing/CountryFlagInfo.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

add autocomplete field managers (#159)
  django/project/admin.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update django-cors-headers==2.3.0 to django-cors-headers==4.1.0
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added height select switch, made table height expandable
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

refactor/Change simple-feedback to simple_feedback
  django/tiip/apps.py
  django/tiip/internal_ips.py
  django/tiip/settings.py
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge dev into feature branch
  django/project/admin.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add autocomplete field managers (#159) (#160)
  django/project/admin.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove django-rest-auth==0.9.5 from requirements
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove DeltaLink model
  django/project/migrations/0105_delete_deltalink.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add job title and section to export files
  django/core/resources.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor authentication process
  django/requirements.txt
  django/tiip/settings.py
  django/user/adapters.py
  django/user/serializers.py
  django/user/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Automation for 161704 + 164996
  e2e/cypress.env.json
  e2e/cypress/e2e/CheckPhaseBoardSchema.cy.js
  e2e/cypress/pages/CountryPage.js
  e2e/cypress/support/commands.js
Due: none

automation for 164997 + 164988
  e2e/cypress/e2e/EmptyPhaseAndStageBoard.cy.js
  e2e/cypress/e2e/SwitchPhaseAndStageBoard.cy.js
  e2e/cypress/pages/CountryPage.js
Due: none

chore/Refactor NullBooleanField to BooleanField with allow_null=True
  django/user/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor base_name to basename to conform with django upgrade
  django/country/tests.py
  django/country/urls.py
  django/kpi/urls.py
  django/project/models.py
  django/requirements.txt
  django/search/urls.py
  django/tiip/settings.py
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge dev to tst (#163)
  django/project/migrations/0105_delete_deltalink.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Added country inventory link button on homepage (#164)
  frontend/components/landing/CountryFlagInfo.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

added height select switch, made table height expandable (#165)
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

add job title and section to export files (#162)
  django/core/resources.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Tst (#161)
  django/project/admin.py
  django/project/migrations/0105_delete_deltalink.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove custom mplementation for simple-feedback
  django/requirements.txt
  django/tiip/apps.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml
