Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:

trigger:
  branches:
    include:
      - tst

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

chore/Update packages to resolve dependency issues
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added dynamic country id to link, added data-test id
  frontend/components/landing/CountryFlagInfo.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

removed 's country ending as it may be not appropriate for some countries
  frontend/components/landing/CountryFlagInfo.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Bugfix/163755/country link inventory (#166)
  frontend/components/landing/CountryFlagInfo.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Update JSONField import
  django/country/models.py
  django/kpi/admin.py
  django/kpi/models.py
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Address error with CountryCustomQuestion and DonorCustomQuestion models
  django/core/models.py
  django/country/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added selection dropdown for sectors
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/store/phasesStagesBoard.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

dropdown count fix
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Feature/165200/select sectors appear phase stage board (#167)
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/store/phasesStagesBoard.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Add DEFAULT_AUTO_FIELD to settings to suppress warnings
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Update .env.prd to DEPLOY_VERSION 3.5.0
  django/.env.prd
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

replace section name to department
  django/core/resources.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

replace section name to department (#168)
  django/core/resources.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update python docker image from python:3.7-stretch to python:3.8-slim-buster
  Dockerfile.django
Due: none

chore/Change python docker image from python:3.8-slim-buster to python:3.8-buster
  Dockerfile.django
Due: none

chore/Add installation of libpq-dev gcc in the dockerfile
  Dockerfile.django
Due: none

chore/Major changes in requirements.txt
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

link changed from button to link
  frontend/components/landing/CountryFlagInfo.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

link changed from button to link (#169)
  frontend/components/landing/CountryFlagInfo.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Update dockerfile to include upgrading of setuptools and wheel
  Dockerfile.django
Due: none

chore/Add dependencies to support upgrading ipython from 0.12.1 to 8.12.2
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update parso from 0.3.0 to 0.8.3 to resolve jedi dependency issues
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Admin Page Automation
  e2e/cypress.env.json
  e2e/cypress/e2e/InventoryPageViaCountryPage.cy.js
  e2e/cypress/pages/AdminLoginForm.js
  e2e/cypress/pages/AdminPage.js
  e2e/cypress/pages/CountryPage.js
  e2e/cypress/pages/InventoryPage.js
  e2e/cypress/pages/LoginForm.js
Due: none

Automation for 163755
  e2e/cypress/e2e/InventoryPageViaCountryPage.cy.js
  e2e/cypress/pages/CountryPage.js
Due: none

chore/Add openpyxl to requirements.txt to resolve issue with missing dependencies
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

changed project data fallback for projectBar and breadcrumps
  frontend/components/BreadCrumb.vue
  frontend/components/common/ProjectBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

changed project data fallback for projectBar and breadcrumps (#170)
  frontend/components/BreadCrumb.vue
  frontend/components/common/ProjectBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Admin Page Automation Setup
  e2e/cypress/downloads/User-2023-07-07.csv
  e2e/cypress/e2e/ExportUserFromAdminPageToCSV.cy.js
  e2e/cypress/pages/AdminChangeUserPage.js
  e2e/cypress/pages/AdminPage.js
  e2e/cypress/pages/AdminUsersPage.js
Due: none

chore/Remove not used libraries
  django/anonymizer/user.py
  django/requirements.txt
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

id correction
  frontend/components/common/ProjectBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

id correction (#171)
  frontend/components/common/ProjectBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/(STABLE) Upgrade django-appconf==1.0.2 to django-appconf==1.0.5
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update all django related libraries
  django/requirements.txt
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor requirements.txt file
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

export user to csv suite
  e2e/cypress.config.js
  e2e/cypress/e2e/ExportUserFromAdminPageToCSV.cy.js
  e2e/cypress/pages/AdminChangeUserPage.js
  e2e/package-lock.json
  e2e/package.json
Due: none

chore/Update pytest and secondary packages in latest versions
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

users list timing loading fix and data refresh for initiatives
  frontend/components/common/ProjectBar.vue
  frontend/pages/_organisation.vue
  frontend/store/project.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Remove deprecated and not directly relevant libraries
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added data reset on loadProject if no data exist
  frontend/store/project.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

users list timing loading fix and data refresh for initiatives (#172)
  frontend/components/common/ProjectBar.vue
  frontend/pages/_organisation.vue
  frontend/store/project.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml
