Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:

trigger:
  branches:
    include:
      - tst

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

fix/Change formatting to avoid ormat string with unnamed arguments cannot be properly localized warning
  django/core/data/review_questions.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Apply formatting
  django/azure_services/views.py
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor admin register process to comply with the custom_admin_site
  django/azure_services/admin.py
  django/country/admin.py
  django/kpi/admin.py
  django/user/admin.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Remove default comment section from the platform sections
  django/templates/admin/base.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Register NewsItem to the custom_admin_site
  django/core/admin/__init__.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/165891/add funding solutions (#229)
  django/project/migrations/0113_auto_20230905_1521.py
  django/project/models.py
  django/project/serializers.py
  django/translations/master.pot
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/Funding.vue
  frontend/store/solution.js
  frontend/utilities/solutions.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updates for cypress
  e2e/package-lock.json
  e2e/package.json
Due: none

Export to CSV fixes
  e2e/cypress/e2e/ExportUserFromAdminPageToCSV.cy.js
  e2e/cypress/pages/AdminChangeUserPage.js
  e2e/cypress/pages/ReadDownloadsFiles.js
Due: none

fix for Api changes from setAside202... to set_aside_202.. , removed comments, some code improvements/refactoring
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/Funding.vue
  frontend/store/project.js
  frontend/store/projects.js
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fix for Api changes from setAside202... to set_aside_202.. , removed comments, some code improvements/refactoring (#230)
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/Funding.vue
  frontend/store/project.js
  frontend/store/projects.js
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

general fixes
  e2e/cypress/e2e/CancelInitiative.cy.js
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/e2e/SortAllSolutionsTable.cy.js
  e2e/cypress/e2e/VisibleAndFunctionalGear.cy.js
  e2e/cypress/e2e/logOut.cy.js
Due: none

Corrected email subject
  django/project/tasks.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

email text fix
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

footer text fixes
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add delete files
  e2e/cypress/support/index.js
  e2e/package-lock.json
  e2e/package.json
Due: none

fix/Remove autocomplete field for UserProfile in ApprovalStateAdmin
  django/project/admin.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/165116/email corrections (#231)
  django/project/tasks.py
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Export final update
  e2e/cypress/pages/ReadDownloadsFiles.js
  e2e/cypress/support/commands.js
  e2e/package-lock.json
  e2e/package.json
Due: none

Merge 'dev' into 'tst' (#232)
  django/country/migrations/0057_auto_20230905_0924.py
  django/country/models.py
  django/country/serializers.py
  django/project/migrations/0113_auto_20230905_1521.py
  django/project/models.py
  django/project/serializers.py
  django/project/tasks.py
  django/templates/email/master-inline.html
  django/templates/email/master.html
  django/translations/master.pot
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/Funding.vue
  frontend/store/project.js
  frontend/store/projects.js
  frontend/store/solution.js
  frontend/utilities/solutions.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

hotfix/ emails fixes
  django/project/tasks.py
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor migration files to avoid duplicate key issues
  django/country/migrations/0058_countryoffice_lat_countryoffice_lon.py
  django/project/migrations/0114_solution_set_aside_2021_solution_set_aside_2022.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update POSTGRES_USER and DATABASE_HOST to .env files
  django/.env.dev
  django/.env.tst
  django/.env.uat
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update CSRF_TRUSTED_ORIGINS from wildcard to trusted urls
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

undefined tolerant
  frontend/components/project/UserProfileSelector.vue
  frontend/store/project.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

hotfix/173111/issue-with-focal-point-on-duplicate-user
  frontend/components/project/UserProfileSelector.vue
  frontend/store/project.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feat/Additional check during AAD user fetch for existing email case insensitive
  django/azure_services/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge 'tst' into 'uat' for v3.9.0
  django/country/migrations/0057_auto_20230905_0924.py
  django/country/models.py
  django/country/serializers.py
  django/project/migrations/0113_auto_20230905_1521.py
  django/project/models.py
  django/project/serializers.py
  django/translations/master.pot
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/Funding.vue
  frontend/store/projects.js
  frontend/store/solution.js
  frontend/utilities/solutions.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fix/Adjust email subject text and footer
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Modify POSTGRES_USER
  django/.env.dev
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update all .env files with the appropriate POSTGRES_USER and DATABASE_HOST values
  django/.env.prd
  django/.env.tst
  django/.env.uat
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Add comma to REST_FRAMEWORK tuple to avoid TypeError
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

hide investor fields
  frontend/components/project/ProjectNavigation.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fix/Remove hardcoded username from admin panel
  django/templates/admin/base.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Adjust the azure login to use dj-rest-auth
  django/user/serializers.py
  django/user/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Modify the path for azure login to urls.py
  django/user/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

hide donor custom field for initiatives
  frontend/components/project/ProjectData.vue
  frontend/components/project/ProjectForm.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

deactivate validation for donorCustom
  frontend/components/project/ProjectForm.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Remove custom admin panel
  django/azure_services/admin.py
  django/core/admin/__init__.py
  django/core/admin/custom_admin.py
  django/country/admin.py
  django/kpi/admin.py
  django/project/admin.py
  django/templates/admin/base.html
  django/tiip/urls.py
  django/user/admin.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml
