Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

form validation fix
  frontend/components/project/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

form validation fix (#104)
  frontend/components/project/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fix/Update save_aad_users to fix bulk_update issue
  django/azure/adapters.py
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Debug bulk_update
  django/azure/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

view sector now updated to Lead sector and Supporting sector
  frontend/components/project/ProjectData.vue
  frontend/store/dashboard.js
  frontend/store/project.js
  frontend/utilities/projects.js
Due: azure-pipelines/frontend/dev-trigger.yml

fix/Rollback to simpler implementation to avoid bulk_update issues
  django/azure/adapters.py
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add new method process_aad_users
  django/azure/adapters.py
  django/azure/tasks.py
  django/azure/views.py
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Minor fix fallback to previous get country implementation to avoid diplicate keys issue
  django/azure/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove makemigrations and migrate from startup_actions.sh
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

initiatives form changed sectors field with Lead sector and Supporting sectors
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/MultiSelectorPlatform.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/Categorization.vue
  frontend/store/project.js
  frontend/store/projects.js
  frontend/utilities/projects.js
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Refactor code
  django/azure/adapters.py
  django/azure/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add more logging messages
  django/azure/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor code
  django/azure/adapters.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

lead sector now keeps only last value
  frontend/components/project/MultiSelectorPlatform.vue
  frontend/components/project/sections/Categorization.vue
Due: azure-pipelines/frontend/dev-trigger.yml

feat/Add subscription to aad notifications
  django/azure/adapters.py
  django/azure/tasks.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

updated to new functionality
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

updated label wording
  frontend/components/project/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Refactor aad notification process
  django/azure/adapters.py
  django/azure/tasks.py
  django/azure/views.py
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add emails of user profiles to country offices
  django/country/admin.py
  django/country/models.py
  django/country/resources.py
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add emails of user profiles to country offices (#105)
  django/country/admin.py
  django/country/models.py
  django/country/resources.py
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

rename the column in admin page
  django/country/admin.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix the .xlsx format export
  django/country/resources.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/158081/focal points admin 2 (#107)
  django/country/admin.py
  django/country/resources.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge dev to tst (#108)
  django/azure/adapters.py
  django/azure/provider.py
  django/azure/tasks.py
  django/azure/urls.py
  django/azure/views.py
  django/country/admin.py
  django/country/models.py
  django/country/resources.py
  django/startup_actions.sh
  django/tiip/settings_deployed.py
  django/tiip/urls.py
  django/user/adapters.py
  django/user/models.py
  django/user/urls.py
  django/user/views.py
  frontend/components/common/chart/cStages.vue
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/TeamSelector.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/GeneralOverview.vue
  frontend/components/solution/ShowPhase.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/store/solutions.js
  frontend/store/system.js
  frontend/utilities/form.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

chore/Remove fetch new users functionality from tst
  django/azure/adapters.py
  django/azure/tasks.py
  django/azure/urls.py
  django/azure/views.py
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add django migration files
  django/project/migrations/0103_auto_20230523_1640.py
  django/user/migrations/0033_auto_20230523_1640.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Check unit tests issues
  django/country/tests.py
  django/kpi/tests.py
  django/project/migrations/0103_auto_20230523_1640.py
  django/user/migrations/0033_auto_20230523_1640.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add migration files
  django/project/migrations/0103_auto_20230524_0747.py
  django/user/migrations/0033_auto_20230524_0747.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Rename migration files to match db values
  django/project/migrations/0103_auto_20230511_1106.py
  django/user/migrations/0033_auto_20230511_1106.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Rename migration files to avoid conflicts
  django/project/migrations/0103_auto_20230511_1106.py
  django/user/migrations/0033_auto_20230511_1106.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Rollback aad notification subscriptions
  django/azure/adapters.py
  django/azure/tasks.py
  django/azure/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Add allow_null true to people_reached to avoid null issue
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add option to retrieve all aad users
  django/azure/adapters.py
  django/azure/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Change urlpatterns to resolve warnings
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Remove /users from MICROSOFT_GRAPH_BASE_URL to fix not found issue
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add migrate to startup_actions.sh
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor save_aad_users method
  django/azure/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
