Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

Adding media pvc at deployment
  frontend/helm/templates/deployment.yaml
Due: azure-pipelines/frontend/dev-trigger.yml

Added the media pvc in django's deployment file
  django/helm/templates/deployment.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

changed the provider from azure to microsoft
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

replaced allauth_microsoft with allauth.socialaccount.providers.microsoft
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Updated the version of django-allauth
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Add tenant to socialaccount_providers
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added comments and removed the 'app' key from SOCIALACCOUNT_PROVIDERS
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

changed SOCIALACCOUNT_PROVIDERS
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Add SOCIALACCOUNT_PROVIDERS
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Add social-auth-app-django to requirements.txt and social_django to INSTALLED_APPS
  django/requirements.txt
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Change social-auth-app-django to 4.0.0 to ensure django compatibility
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Add SocialApp on admin panel
  django/tiip/settings.py
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Add APP_ID and SCOPE on SOCIALACCOUNT_PROVIDERS
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Rollback to early version of settings.py
  django/azure/views.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Add social_django to the INSTALLED_APPS
  django/azure/views.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert commit to 7877f9be641225df4cc3eb8c23fd23978af848e5
  django/helm/Chart.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert commit to 7877f9be641225df4cc3eb8c23fd23978af848e5
  django/helm/Chart.yaml
  django/requirements.txt
  django/tiip/settings.py
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Edit media path
  frontend/helm/templates/deployment.yaml
Due: azure-pipelines/frontend/dev-trigger.yml

libraries update, use of npm as a package manager, build broken maps
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

Exposed swagger endpoints
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert "Exposed swagger endpoints"
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Tilt configuration for backend.
  Tiltfile
  django/.env.local
  django/helm/templates/deployment-celery.yaml
  django/helm/templates/deployment.yaml
  django/helm/templates/secrets-vault.yaml
  django/helm/templates/translations-pvc.yaml
  django/helm/values-dev.yaml
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

removed not used libraries
  frontend/.github/workflows/playwright.yml
  frontend/.gitignore
  frontend/.pnp.cjs
  frontend/.pnp.loader.mjs
  frontend/e2e/example.spec.js
  frontend/e2e/global-setup.js
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.js
  frontend/storageState.json
  frontend/tests-examples/demo-todo-app.spec.js
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

Exposed swagger endpoints (#22)
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

removed eslint libraries and settings, removed custom babel settings
  frontend/.babelrc
  frontend/.editorconfig
  frontend/.eslintrc.js
  frontend/.pnp.cjs
  frontend/.pnp.loader.mjs
  frontend/jest.config.js
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

Edit tilt file for FE
  Tiltfile
Due: none

Edit fe files for tilt
  frontend/.env
  frontend/.gitignore
  frontend/helm/templates/deployment.yaml
  frontend/helm/values-dev.yaml
  frontend/helm/values.yaml
Due: azure-pipelines/frontend/dev-trigger.yml

changed dockerfile to npm, added inactive no ssr plugin
  frontend/Dockerfile
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/server-middleware/check-spa.js
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

Libraries update2 (#24)
  frontend/.babelrc
  frontend/.editorconfig
  frontend/.eslintrc.js
  frontend/.github/workflows/playwright.yml
  frontend/.gitignore
  frontend/Dockerfile
  frontend/e2e/example.spec.js
  frontend/e2e/global-setup.js
  frontend/jest.config.js
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.js
  frontend/server-middleware/check-spa.js
  frontend/storageState.json
  frontend/tests-examples/demo-todo-app.spec.js
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

updated Dockerfile.fronend
  Dockerfile.frontend
Due: none

Libraries update2 (#25)
  Dockerfile.frontend
Due: none

Revert "Exposed swagger endpoints (#22)"
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert "Libraries update2 (#25)"
  Dockerfile.frontend
Due: none

Revert "Revert "Exposed swagger endpoints (#22)""
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert "Revert "Exposed swagger endpoints""
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

first commit
  e2e/README.MD
  e2e/cypress.config.js
  e2e/cypress.env.json
  e2e/cypress.json
  e2e/cypress/.eslintrc.js
  e2e/cypress/.gitignore
  e2e/cypress/e2e/logOut.cy.js
  e2e/cypress/fixtures/example.json
  e2e/cypress/pages/HomePage.js
  e2e/cypress/pages/LoginPage.js
  e2e/cypress/pages/NavigationBar.js
  e2e/cypress/plugins/index.js
  e2e/cypress/support/commands.js
  e2e/cypress/support/e2e.js
  e2e/cypress/support/index.js
  e2e/cypress/support/utils.js
  e2e/cypress/tests/ui/auth.spec.js
  e2e/package-lock.json
  e2e/package.json
  e2e/yarn.lock
Due: none

Revert "Merge branch 'dev' of https://github.com/unicef/invent into dev"
  frontend/.babelrc
  frontend/.editorconfig
  frontend/.eslintrc.js
  frontend/.github/workflows/playwright.yml
  frontend/.gitignore
  frontend/Dockerfile
  frontend/e2e/example.spec.js
  frontend/e2e/global-setup.js
  frontend/jest.config.js
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.js
  frontend/server-middleware/check-spa.js
  frontend/storageState.json
  frontend/tests-examples/demo-todo-app.spec.js
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

fix/Redo commit dc9d3d3 changes to avoid issue on celery pod
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
