Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - test_docker

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

auth component changes mounted code for login fix (#39)
  frontend/middleware/reset.js
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fixed router push name in auth.vue
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fixed router push name in auth.vue (#40)
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

not await for setSelectedCountry auth.vue
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

not await for setSelectedCountry auth.vue (#41)
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fixed login page reroute, fixed button disabled and await for setSelectedCountry on auth.vue
  frontend/components/DhaLogin.vue
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fixed login page reroute, fixed button disabled and await for setSelectedCountry on auth.vue (#42)
  frontend/components/DhaLogin.vue
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fixed disabled button in auth.vue
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fixed disabled button in auth.vue (#43)
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

improved dhaLogin.vue login callback
  frontend/components/DhaLogin.vue
Due: azure-pipelines/frontend/dev-trigger.yml

improved dhaLogin.vue login callback (#44)
  frontend/components/DhaLogin.vue
Due: azure-pipelines/frontend/dev-trigger.yml

additional fix
  e2e/cypress/e2e/CreateDraftInitiative.cy.js
  e2e/cypress/pages/InitiativePage.js
Due: none

add reporter
  e2e/cypress.config.js
  e2e/cypress.env.json
  e2e/cypress/e2e/CreateDraftInitiative.cy.js
  e2e/cypress/pages/InitiativePage.js
  e2e/cypress/reports/html/assets/MaterialIcons-Regular.woff
  e2e/cypress/reports/html/assets/MaterialIcons-Regular.woff2
  e2e/cypress/reports/html/assets/app.css
  e2e/cypress/reports/html/assets/app.js
  e2e/cypress/reports/html/assets/app.js.LICENSE.txt
  e2e/cypress/reports/html/assets/roboto-light-webfont.woff
  e2e/cypress/reports/html/assets/roboto-light-webfont.woff2
  e2e/cypress/reports/html/assets/roboto-medium-webfont.woff
  e2e/cypress/reports/html/assets/roboto-medium-webfont.woff2
  e2e/cypress/reports/html/assets/roboto-regular-webfont.woff
  e2e/cypress/reports/html/assets/roboto-regular-webfont.woff2
  e2e/cypress/reports/html/index.html
  e2e/cypress/support/e2e.js
  e2e/cypress/videos/CreateDraftInitiative.cy.js.mp4
  e2e/cypress/videos/logOut.cy.js.mp4
  e2e/package-lock.json
  e2e/package.json
Due: none

Publish initiative, select software is not working
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/pages/InitiativePage.js
Due: none

Changed the path for the media folder in django deployment
  django/helm/templates/deployment.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Added the media folder in the Celery deployment
  django/helm/templates/deployment-celery.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Fixed the media PVC name missing
  django/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Publish Initiatice updates
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/pages/InitiativePage.js
Due: none

Grab the media PVC name from the values file
  django/helm/templates/deployment.yaml
  django/helm/templates/media-pvc.yaml
  django/helm/values-dev.yaml
  frontend/helm/templates/deployment.yaml
  frontend/helm/values-dev.yaml
  frontend/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

updated .dockerignore to exlude .yarn and node_modules
  frontend/.dockerignore
Due: azure-pipelines/frontend/dev-trigger.yml

added dockerignore file in root
  .dockerignore
Due: none

Protect accidental change of yarn.lock
  frontend/.gitignore
Due: azure-pipelines/frontend/dev-trigger.yml

feat: Add new solution api call
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

New tests
  e2e/cypress/e2e/CancelInitiative.cy.js
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/pages/HomePage.js
  e2e/cypress/pages/InitiativePage.js
  e2e/cypress/pages/InnovationPortfoliosPage.js
  e2e/cypress/pages/InventoryPage.js
  e2e/cypress/pages/LoginForm.js
  e2e/cypress/pages/LoginPage.js
  e2e/cypress/pages/MyInitiativesPage.js
  e2e/cypress/pages/NavigationBar.js
  e2e/cypress/pages/PortfolioManagerPage.js
Due: none

feat: Add basic solution data structure
  django/project/models.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge the two tiltfiles into one
  Tiltfile
  Tiltfile.windows
Due: none

Minor fixes in the Tiltfile
  Tiltfile
Due: none

New test and some updates
  e2e/cypress.config.js
  e2e/cypress.env.json
  e2e/cypress/e2e/0initiatives.cy.js
  e2e/cypress/e2e/CancelInitiative.cy.js
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/pages/HomePage.js
  e2e/cypress/pages/LoginForm.js
  e2e/cypress/pages/NavigationBar.js
Due: none

Fix login issue 130084 and Tilt changes (#45)
  .dockerignore
  .gitignore
  Tiltfile
  azure-pipelines/frontend/dev-trigger.yml
  django/.env.local
  django/helm/Chart.yaml
  django/helm/templates/deployment-celery.yaml
  django/helm/templates/deployment.yaml
  django/helm/templates/media-pvc.yaml
  django/helm/templates/secrets-vault.yaml
  django/helm/templates/translations-pvc.yaml
  django/helm/values-dev.yaml
  django/tiip/settings.py
  django/tiip/urls.py
  frontend/.dockerignore
  frontend/.env
  frontend/.gitignore
  frontend/components/DhaLogin.vue
  frontend/helm/templates/deployment.yaml
  frontend/helm/values-dev.yaml
  frontend/middleware/isLoggedIn.js
  frontend/pages/auth.vue
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

Fixed django deployment in tilt
  Tiltfile
  django/helm/values-dev.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Some updates
  e2e/cypress/e2e/ContactExportButton.cy.js
  e2e/cypress/pages/InventoryPage.js
  e2e/cypress/pages/NavigationBar.js
Due: none

feat: Retrieve phase name in view solution
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat: Retrieve ManyToManyField models
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Some changes
  e2e/cypress.env.json
  e2e/cypress/e2e/CancelInitiative.cy.js
  e2e/cypress/e2e/UserWithZeroInitiativesHomePage.cy.js
  e2e/cypress/pages/InitiativePage.js
  e2e/cypress/pages/NavigationBar.js
Due: none

Added health check in the backend Changed the site_id of the production environment
  django/helm/templates/deployment.yaml
  django/requirements.txt
  django/tiip/settings.py
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

update login and add random number in public initiative name
  e2e/cypress.env.json
  e2e/cypress/e2e/CreateDraftInitiative.cy.js
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/e2e/logOut.cy.js
Due: none

fix:Modify Solution object
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert back changes in the django deployment file for the healthcheck
  django/helm/templates/deployment.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Made the necessary changes for the media and translations folders
  Dockerfile.django
  azure-pipelines/frontend/dev-trigger.yml
  django/helm/Chart.yaml
  django/helm/templates/deployment-celery.yaml
  django/helm/templates/deployment.yaml
  django/helm/templates/secrets-vault.yaml
  django/helm/templates/translations-pvc.yaml
  django/helm/values.yaml
  django/requirements.txt
  django/startup_actions.sh
  django/tiip/settings.py
  django/tiip/urls.py
  frontend/helm/templates/deployment.yaml
  frontend/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

chore:Refactor Solution class
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml
