Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:

trigger:
  branches:
    include:
      - tst

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

fixed update issue of draft project for fields unicef_leading_sector and unicef_supporting_sectors
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/158679/initiative details view replace sectors field (#130)
  django/core/data/dashboard_columns.py
  django/project/models.py
  frontend/components/dashboard/ListExport.vue
  frontend/components/dashboard/TableTopActions.vue
  frontend/store/project.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updated tests
  django/project/tests/setup.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/158679/initiative details view replace sectors field (#131)
  django/project/tests/setup.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

update the export with the sector splitting in admin panel
  django/project/resources.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

update the export with the sector splitting in admin panel (#132)
  django/project/resources.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixed to show all initiatives
  frontend/store/landing.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fixed to show all initiatives (#133)
  frontend/store/landing.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

replace with old yarn
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Revert "feat/Add published query parameter to the get_queryset (#120)"
  django/search/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert "Feature/157880/regional focal point front end (#127)"
  frontend/components/project/ProjectNavigation.vue
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Revert/regions access unpabliched api (#134)
  django/search/views.py
  frontend/components/project/ProjectNavigation.vue
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

region access revert
  frontend/components/project/ProjectNavigation.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

revert region access on organisation-id
  frontend/pages/_organisation/initiatives/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

removed overflow-x from el-select-tags
  frontend/components/project/MultiSelector.vue
  frontend/components/project/MultiSelectorPlatform.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

solutions edit/create new Innovation Portfolios group, portfolios table key bug fix
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/components/solution/sections/InnovationPortfolios.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updated solution view with new Innovation portfolios card section
  frontend/components/solution/SolutionData.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

update create new solution
  e2e/cypress/e2e/CreateNewSolution.cy.js
  e2e/cypress/pages/NewSolutionPage.js
Due: none

feat/Add azure-monitor-opentelemetry to requirements
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add opentelemetry to application settings
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Change env from dev to tst
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Rollback env from tst to dev
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Adding env.var applicationsightsConnectionSrting for BE
  django/helm/templates/deployment-celery.yaml
  django/helm/templates/deployment.yaml
  django/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/163742/enable ootb monitoring capabilities (#135)
  django/requirements.txt
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Change published-unpublished to match new criteria
  django/search/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor publised-unpublished cases in a more pythonic way
  django/search/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

table with new story features
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Focal Point tests phase 1
  e2e/cypress/e2e/FocalPointFields.cy.js
  e2e/cypress/pages/InitiativePage.js
Due: none

add new column - feature key phases_stages
  django/project/models.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add sector test
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/e2e/VerifySectorFunctionality.cy.js
  e2e/cypress/pages/InitiativePage.js
Due: none

code refactoring
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Feature/157615/allow retrieval of all initiatives published and unpublished from api revision (#136)
  django/search/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/163295/add swimlanes at phase board (#137)
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

removed overflow-x from el-select-tags (#138)
  frontend/components/project/MultiSelector.vue
  frontend/components/project/MultiSelectorPlatform.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

hide square logo and change menu height (#139)
  frontend/components/common/TopBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Feature/160826/group innovation portfolio solution details section (#140)
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/components/solution/sections/InnovationPortfolios.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Revert adding azure-monitor-opentelemetry==1.0.0b13 to resolve No module named azure.monitor issue
  django/requirements.txt
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

updated empty value type
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updated empty value type (#141)
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

create a mapping between phases and stages
  django/project/models.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml
