Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

New tests
  e2e/cypress.env.json
  e2e/cypress/e2e/OpenSolutionFromPortfolio.cy.js
  e2e/cypress/pages/InnovationPortfoliosPage.js
  e2e/cypress/pages/SolutionPage.js
Due: none

chore/Add TokenAuthMixin to GetAADUsers and UpdateAADUsersView
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

test for exporting all rows initiatives
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

print for testing
  django/project/models.py
  django/project/resources.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

increased number of results
  django/project/models.py
  django/search/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

max_page_size is getting the value from query parameter
  django/search/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

max_page_size is getting the value from query parameter (#83)
  django/search/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Fix the issue with the "returned a non-zero code: 100" error during django build
  Dockerfile.django
Due: none

Fix the issue with the "non-zero code: 100" error during django build
  Dockerfile.django
Due: none

corrected page_size value
  django/search/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add new field "portfolios" for api/solution
  django/project/models.py
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

cleared out code
  django/project/models.py
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

corrected to_representation function
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

formatting fix
  django/project/models.py
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Apply local changes
  django/azure/provider.py
  django/azure/tasks.py
  django/scheduler/celery.py
  django/tiip/settings_deployed.py
  django/user/adapters.py
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Revert code to remove fetch users from AAD functionality
  django/azure/provider.py
  django/azure/views.py
  django/user/adapters.py
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge dev into tst (#85)
  Dockerfile.django
  azure-pipelines/frontend/tst-trigger.yml
  azure-pipelines/frontend/uat-trigger.yml
  django/country/fixtures/null_land.json
  django/project/resources.py
  django/project/test-data/basic_data.sql
  django/requirements.txt
  django/search/views.py
  django/user/adapters.py
  frontend/.env
  frontend/assets/style/main.less
  frontend/assets/style/variables.less
  frontend/components/DhaLogin.vue
  frontend/components/common/ProjectBar.vue
  frontend/components/dashboard/MainTable.vue
  frontend/components/landing/AboutSection.vue
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/ProjectData.vue
  frontend/components/project/TeamSelector.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/GeneralOverview.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/layouts/default.vue
  frontend/pages/_organisation/portfolio/innovation/index.vue
  frontend/store/project.js
  frontend/store/system.js
  frontend/utilities/projects.js
  nginx/site/static/admin/fonts/LICENSE.txt
  nginx/site/static/jsoneditor/jsoneditor.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

Feature/147517/basic solution list backend 2 (#84)
  django/project/models.py
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

removed list dots, text for phase, fixed edit portfolio button row height
  frontend/components/common/Tabs.vue
  frontend/components/solution/CollapsibleSolutionCard.vue
  frontend/components/solution/ShowPhase.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

improved breadcrumb, improved columns in solutions tables
  frontend/components/BreadCrumb.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

changed project to portfolio query name, fixed delete button for edit solution
  frontend/components/BreadCrumb.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml

minor code cleanup
  frontend/components/BreadCrumb.vue
  frontend/components/solution/SolutionForm.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fix/Add filtering to problem statements per portfolio
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Final adjustments to fix get api call
  django/azure/views.py
  django/user/adapters.py
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add portfolio_name in the problem_statements list of the api/solution call
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

innovation portfolio to portfolios, added portfolio with problem statement
  frontend/components/BreadCrumb.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/solutions list view improvements (#86)
  frontend/components/BreadCrumb.vue
  frontend/components/common/Tabs.vue
  frontend/components/solution/CollapsibleSolutionCard.vue
  frontend/components/solution/ShowPhase.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Modify user profile update method
  django/user/adapters.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Minor fixes to ensure functionality
  django/user/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor get_aad_users method
  django/azure/views.py
  django/user/adapters.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add docstrings and comments to GetAADUsers and UpdateAADUsersView
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add tenant and resource to settings SOCIALACCOUNT_PROVIDERS
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove unnessary code from azure/views.py
  django/azure/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add a mock_aad_users.json file with mock user profiles
  django/user/mock_aad_users.json
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor code to work with both mock and real AAD data
  django/tiip/settings.py
  django/user/adapters.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add comments and sort imports
  django/azure/views.py
  django/user/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add job_title and department in UserProfileListSerializer
  django/user/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

dummy commit
  django/user/adapters.py
  django/user/models.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/130111/add team member revision (#87)
  django/azure/provider.py
  django/azure/tasks.py
  django/azure/views.py
  django/scheduler/celery.py
  django/tiip/settings_deployed.py
  django/user/adapters.py
  django/user/mock_aad_users.json
  django/user/models.py
  django/user/serializers.py
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml
