Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

Removed unused libraries
  frontend/.gitignore
  frontend/.yarnrc.yml
  frontend/nuxt.config.js
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

removed editor config
  frontend/.editorconfig
Due: azure-pipelines/frontend/dev-trigger.yml

Clean unused libs (#26)
  frontend/.editorconfig
  frontend/.gitignore
  frontend/.yarnrc.yml
  frontend/nuxt.config.js
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

added node-sass lib
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

Added buttons Added resource dependencies
  Tiltfile
  django/.env.local
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert "fix/Redo commit dc9d3d3 changes to avoid issue on celery pod"
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert "Revert "fix/Redo commit dc9d3d3 changes to avoid issue on celery pod""
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Fixed the port-forwards not working for all services
  Tiltfile
Due: none

Revert "added node-sass lib"
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

Revert "Clean unused libs (#26)"
  frontend/.editorconfig
  frontend/.gitignore
  frontend/.yarnrc.yml
  frontend/nuxt.config.js
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

removed some unused libraries in FE
  frontend/.gitignore
  frontend/.pnp.cjs
  frontend/.pnp.loader.mjs
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

Group Tilt Elements
  Tiltfile
Due: none

Categorize PVC and ServiceAccounts
  Tiltfile
Due: none

Remove Namespace from SA and PVC grouping
  Tiltfile
Due: none

Consolidate portfoward
  Tiltfile
Due: none

chore/Update values-dev.yml and Tiltfiles
  Tiltfile.linux
  Tiltfile.windows
  django/helm/values-dev.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add dump_anon.sql to .gitignore
  .gitignore
Due: none

bugfix/Change Dockerfile.frontend to avoid build issue
  Dockerfile.frontend
Due: none

Tilt configuration (#31)
  .gitignore
  Dockerfile.frontend
  Tiltfile.linux
  Tiltfile.windows
  django/.env.local
  django/helm/templates/deployment-celery.yaml
  django/helm/templates/deployment.yaml
  django/helm/templates/secrets-vault.yaml
  django/helm/templates/translations-pvc.yaml
  django/helm/values-dev.yaml
  django/tiip/settings.py
  frontend/.env
  frontend/.gitignore
  frontend/helm/templates/deployment.yaml
  frontend/helm/values-dev.yaml
  frontend/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

revert changes for yarn.lock and fix login bug
  Dockerfile.frontend
  frontend/.pnp.cjs
  frontend/.pnp.loader.mjs
  frontend/components/DhaLogin.vue
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

fixed dev
  Dockerfile.frontend
  frontend/.pnp.cjs
  frontend/.pnp.loader.mjs
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

Edit to the new nfs pvc
  frontend/helm/templates/deployment.yaml
Due: azure-pipelines/frontend/dev-trigger.yml

Edit if statement in deployment
  frontend/helm/templates/deployment.yaml
Due: azure-pipelines/frontend/dev-trigger.yml

Edit pvc for django deployment
  django/helm/templates/deployment.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix:Fix redirect to homepage after succesfull login
  frontend/components/DhaLogin.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fix:Fix redirect to homepage after succesfull login (#33)
  frontend/components/DhaLogin.vue
Due: azure-pipelines/frontend/dev-trigger.yml

add new tests
  e2e/cypress.config.js
  e2e/cypress/e2e/CreateDraftInitiative.cy.js
  e2e/cypress/e2e/logOut.cy.js
  e2e/cypress/pages/HomePage.js
  e2e/cypress/pages/InitiativePage.js
  e2e/cypress/pages/LoginPage.js
  e2e/cypress/pages/NavigationBar.js
Due: none

new bug fix changes for login button and login form pages
  frontend/.env
  frontend/components/DhaLogin.vue
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Bugfix/130084/login redirect homepage (#34)
  frontend/.env
  frontend/components/DhaLogin.vue
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

new bug fix changes for login button and login form pages
  frontend/components/DhaLogin.vue
Due: azure-pipelines/frontend/dev-trigger.yml

login middleware redirect
  frontend/components/DhaLogin.vue
  frontend/middleware/isLoggedIn.js
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Bugfix/130084/login redirect homepage (#35)
  frontend/components/DhaLogin.vue
  frontend/middleware/isLoggedIn.js
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

auth page redirect on mount
  frontend/middleware/isLoggedIn.js
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

auth page redirect on mount (#36)
  frontend/middleware/isLoggedIn.js
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

add new test
  e2e/cypress.env.json
  e2e/cypress/e2e/CreateDraftInitiative.cy.js
  e2e/cypress/pages/InitiativePage.js
Due: none

auth mod if user go to homepage
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

auth mod if user go to homepage (#37)
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

deactivated reset module
  frontend/middleware/reset.js
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

deactivated reset module (#38)
  frontend/middleware/reset.js
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

auth component changes mounted code for login fix
  frontend/middleware/reset.js
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
