Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

Feature/160752/stages phases (#142)
  django/project/models.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

updated styles to work on all browsers
  frontend/components/common/TopBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updated styles to work on all browsers (#143)
  frontend/components/common/TopBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feat/Add internal_ips to fetch the pod internal ip
  django/tiip/internal_ips.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add azure-monitor-opentelemetry to requirements
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add configure_azure_monitor to settings.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove configure_azure_monitor and implement older approach to identify compatibility
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove opentelemetry from settings.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

inventory load fix
  frontend/pages/_organisation/inventory/list.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

performance improvement by reordering api calls and asyncronicity
  frontend/pages/_organisation/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

performance improvements for inventory list page
  frontend/pages/_organisation/inventory/list.vue
  frontend/store/offices.js
  frontend/store/system.js
  frontend/store/user.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

load users optimization
  frontend/pages/_organisation.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

removed sentry lib, removed unused unicef logo
  frontend/components/DhaLogin.vue
  frontend/components/common/TopBar.vue
  frontend/components/dialogs/ProjectHistoryDialog.vue
  frontend/components/portfolio/form/NewPortfolioForm.vue
  frontend/components/project/ProjectForm.vue
  frontend/nuxt.config.js
  frontend/pages/_organisation.vue
  frontend/plugins/i18n.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Code cleanup
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Rollback phases stages
  django/project/models.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Dev 157615 160826 162116 163295 163762 164563 (#144)
  django/helm/templates/deployment-celery.yaml
  django/helm/templates/deployment.yaml
  django/helm/values.yaml
  django/requirements.txt
  django/search/views.py
  django/tiip/settings.py
  frontend/components/common/TopBar.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/components/project/MultiSelector.vue
  frontend/components/project/MultiSelectorPlatform.vue
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/components/solution/sections/InnovationPortfolios.vue
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

update node 12 to 14 in containers and fron 10 to 14 as compilation in babel
  Dockerfile.frontend
  frontend/Dockerfile
  frontend/nuxt.config.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feat/Change userprofile list to autocomplete field
  django/project/admin.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

lazy loading images
  frontend/components/common/Avatar.vue
  frontend/components/common/CountryFlag.vue
  frontend/components/common/DhaFooter.vue
  frontend/components/common/EmptyProjects.vue
  frontend/components/common/TopBar.vue
  frontend/components/feedback/RawDjangoFeedback.vue
  frontend/components/landing/AboutSection.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/parts/NewsCard.vue
  frontend/components/project/history/values/ValueCoverImage.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Rename azure folder to azure_services
  django/.coveragerc
  django/azure/apps.py
  django/azure_services/__init__.py
  django/azure_services/adapters.py
  django/azure_services/apps.py
  django/azure_services/migrations/__init__.py
  django/azure_services/provider.py
  django/azure_services/tasks.py
  django/azure_services/urls.py
  django/azure_services/views.py
  django/tiip/settings.py
  django/tiip/urls.py
  django/user/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove reduntant import from settings
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/163742/enable ootb monitoring capabilities (#146)
  django/.coveragerc
  django/azure/apps.py
  django/azure_services/__init__.py
  django/azure_services/adapters.py
  django/azure_services/apps.py
  django/azure_services/migrations/__init__.py
  django/azure_services/provider.py
  django/azure_services/tasks.py
  django/azure_services/urls.py
  django/azure_services/views.py
  django/tiip/internal_ips.py
  django/tiip/settings.py
  django/tiip/urls.py
  django/user/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Change configure_azure_monitor signature to include named argument
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Change userprofile list to autocomplete field (#145)
  django/project/admin.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

rename stage_name and phase_name to stage_label and phase_label
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

rename stage_name and phase_name to stage_label and phase_label (#147)
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added stage table and table switch
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/store/projects.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feature/161336/initiatives-by-stage-board added stage table and table switch (#148)
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/store/projects.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feat/Switch nextLink to deltaLink mechanism
  django/azure_services/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add get and save last delta link mechanism
  django/azure_services/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

problem_statements and portfolios are now lists containing only unique ids
  django/kpi/tasks.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor delta link generation and store method
  django/azure_services/adapters.py
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/refactor aad user fetch and update mechanism (#149)
  django/azure_services/adapters.py
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add migration file for deltalink
  django/project/migrations/0104_deltalink.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add log statements to debug deltalink response
  django/azure_services/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove redundant log statements
  django/azure_services/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor deltalinks and logger
  django/azure_services/adapters.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

created a django management command to update the problematic solution logs (may and june 2023)
  django/kpi/management/commands/update_solutionlog.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixed error in comment
  django/kpi/management/commands/update_solutionlog.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

custom management command will now be run on deployment
  django/kpi/management/commands/update_solutionlog.py
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
  azure-pipelines/frontend/tst-trigger.yml: any of: frontend
  azure-pipelines/frontend/uat-trigger.yml: any of: frontend
