Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

feat/Upgrade the css on admin panel to resolve issues
  django/templates/admin/base.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

solution innovation portfolio and problem statement now is optional
  frontend/components/solution/SolutionData.vue
  frontend/utilities/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feat/Add new delete initiative api call
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Rename api call from project/delete/<int:pk>/ to projects/delete/<int:pk>/
  django/project/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add permissions on api call projects/delete/<int:pk>/
  django/core/views.py
  django/project/permissions.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added delete initiative button for certain users
  frontend/components/project/ProjectForm.vue
  frontend/components/project/ProjectNavigation.vue
  frontend/store/project.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Release/3.7.0 (#212)
  frontend/components/common/CountryItem.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/components/project/OfficeLinkField.vue
  frontend/components/project/ProjectData.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

add arguments for optional fields in admin panel too
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add migration file
  django/project/migrations/0109_auto_20230807_1425.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/157878/allow solutions to exist outside portfolios (#213)
  django/project/migrations/0109_auto_20230807_1425.py
  django/project/models.py
  frontend/components/solution/SolutionData.vue
  frontend/utilities/solutions.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feat/Add fallback to ensure there is no db deadlock
  django/project/permissions.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add new DeltaLink model to handle the deltalinks
  django/azure_services/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor adapters.py to fit in the DeltaLinks logic
  django/azure_services/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor process_aad_users method and DeltaLink model
  django/azure_services/adapters.py
  django/azure_services/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add minor comment to apps.py
  django/azure_services/apps.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added new field to models
  django/project/models.py
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Release/uat/3.7.0 (#215)
  django/core/admin/__init__.py
  django/project/management/commands/add_taxonomies.py
  django/project/migrations/0086_reload_data_rebuild_search_engine.py
  django/project/migrations/0106_stage_completion_marks_an_initiative_as_inactive.py
  django/project/migrations/0107_reorder_stages.py
  django/project/models.py
  django/project/tests/project_stage_tests.py
  django/project/tests/project_structure_tests.py
  django/project/tests/setup.py
  django/project/views.py
  django/search/views.py
  django/startup_actions.sh
  django/user/models.py
  frontend/components/BreadCrumb.vue
  frontend/components/common/CountryItem.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/components/project/OfficeLinkField.vue
  frontend/components/project/ProjectData.vue
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

bugfix stages null fallback
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

refactor old automation suites
  e2e/cypress.env.json
  e2e/cypress/downloads/User-2023-07-07.csv
  e2e/cypress/e2e/CancelInitiative.cy.js
  e2e/cypress/e2e/CheckPhaseBoardSchema.cy.js
  e2e/cypress/e2e/ContactExportButton.cy.js
  e2e/cypress/e2e/CreateDraftInitiative.cy.js
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/e2e/ExportUserFromAdminPageToCSV.cy.js
  e2e/cypress/pages/CountryPage.js
  e2e/cypress/pages/InitiativePage.js
  e2e/cypress/reports/html/assets/MaterialIcons-Regular.woff
  e2e/cypress/reports/html/assets/MaterialIcons-Regular.woff2
  e2e/cypress/reports/html/assets/app.css
  e2e/cypress/reports/html/assets/app.js
  e2e/cypress/reports/html/assets/app.js.LICENSE.txt
  e2e/cypress/reports/html/assets/roboto-light-webfont.woff
  e2e/cypress/reports/html/assets/roboto-light-webfont.woff2
  e2e/cypress/reports/html/assets/roboto-medium-webfont.woff
  e2e/cypress/reports/html/assets/roboto-medium-webfont.woff2
  e2e/cypress/reports/html/assets/roboto-regular-webfont.woff
  e2e/cypress/reports/html/assets/roboto-regular-webfont.woff2
  e2e/cypress/reports/html/index.html
Due: none

Refactor automation suites
  e2e/cypress/e2e/EmptyPhaseAndStageBoard.cy.js
  e2e/cypress/pages/CountryPage.js
Due: none

allow deletion of project only country managers or superuser
  django/core/views.py
  django/project/permissions.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

some additional fixes
  e2e/cypress.config.js
  e2e/cypress.env.json
  e2e/cypress/e2e/OpenSolutionFromPortfolio.cy.js
  e2e/cypress/e2e/UserWithOneInitiativesHomePage.cy.js
  e2e/cypress/e2e/UserWithThreeInitiativesHomePage.cy.js
  e2e/cypress/e2e/UserWithTwoInitiativesHomePage.cy.js
  e2e/cypress/e2e/UserWithZeroInitiativesHomePage.cy.js
  e2e/cypress/pages/InnovationPortfoliosPage.js
  e2e/cypress/pages/SolutionPage.js
Due: none

Feature/166286/allow deletion of initiatives by eligible users (#216)
  django/core/views.py
  django/project/permissions.py
  django/project/urls.py
  django/project/views.py
  frontend/components/project/ProjectForm.vue
  frontend/components/project/ProjectNavigation.vue
  frontend/store/project.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

relocated email settings in settings.py so we can test emails locally
  django/tiip/settings.py
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added the needed info for approval/decline emails
  django/project/models.py
  django/project/tasks.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

updated email template
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

removed redundant variable
  django/project/tasks.py
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chnage on package json
  e2e/package.json
Due: none

add and fix migration files
  django/project/migrations/0108_auto_20230816_0929.py
  django/project/migrations/0109_reorder_stages.py
  django/project/migrations/0110_auto_20230807_1425.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

move the comment box
  django/templates/admin/base.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Update gettext.sh and Tiltfile
  Tiltfile
  frontend/gettext.sh
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fix the location of comment box
  django/templates/admin/base.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add new extract translations button on Tilt
  Tiltfile
Due: none

feat/Add new scripts to streamline extract migration and translation files
  extract_migrations.sh
  extract_translations.sh
Due: none

feat/Add gettext to pod to avoid issues when generating translations
  Dockerfile.frontend
  extract_translations.sh
Due: none

Update the translation generation process (#217)
  Dockerfile.frontend
  Tiltfile
  extract_migrations.sh
  extract_translations.sh
  frontend/gettext.sh
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

delete the duplicate migration file 0107_reorder_stages
  django/project/migrations/0107_reorder_stages.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Change JSONWebTokenAuthentication to JWTAuthentication to avoid import error
  django/core/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Change get_token implementation to avoid null user_profile id
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

corrected field names
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
  azure-pipelines/frontend/tst-trigger.yml: any of: frontend
  azure-pipelines/frontend/uat-trigger.yml: any of: frontend
