Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

changed subject text, added name variable for email
  django/project/tasks.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

updated email template
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Update deploy version to 4.0.0
  django/.env.dev
  django/.env.local
  django/.env.prd
  django/.env.tst
  django/.env.uat
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/165116/tag request notification (#218)
  django/project/migrations/0108_auto_20230816_0929.py
  django/project/migrations/0109_reorder_stages.py
  django/project/migrations/0110_auto_20230807_1425.py
  django/project/models.py
  django/project/serializers.py
  django/project/tasks.py
  django/templates/admin/base.html
  django/templates/email/master-inline.html
  django/templates/email/master.html
  django/tiip/settings.py
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add custom submit_line.html to avoid css issues in django input css
  django/templates/admin/project/submit_line.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

enriched email template with tag details
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

removed empty line before comment
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

made comment in bold
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixed overflowing text on comment
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixes for EmptyPhaseAndStageBoard and logOut
  e2e/cypress/e2e/EmptyPhaseAndStageBoard.cy.js
  e2e/cypress/e2e/logOut.cy.js
Due: none

Feature/165116/tag request notification (#219)
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Minor fixed to deltalinks functionality
  django/azure_services/adapters.py
  django/azure_services/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add django migration file for DeltaLink model
  django/azure_services/migrations/0001_initial.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update DEPLOY_VERSION to 3.8.0
  django/.env.dev
  django/.env.local
  django/.env.prd
  django/.env.tst
  django/.env.uat
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Merge dev to tst (3.8.0) (#220)
  django/.env.dev
  django/.env.local
  django/.env.prd
  django/.env.tst
  django/.env.uat
  django/project/migrations/0108_auto_20230816_0929.py
  django/project/migrations/0109_reorder_stages.py
  django/project/migrations/0110_auto_20230807_1425.py
  django/project/models.py
  django/project/serializers.py
  django/project/tasks.py
  django/templates/admin/base.html
  django/templates/email/master-inline.html
  django/templates/email/master.html
  django/tiip/settings.py
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

One Initiative Fix
  e2e/cypress/e2e/UserWithOneInitiativesHomePage.cy.js
  e2e/cypress/support/Requests.js
Due: none

Country Page fixes
  e2e/cypress/e2e/CheckPhaseBoardSchema.cy.js
  e2e/cypress/e2e/VisibleAndFunctionalGear.cy.js
  e2e/cypress/pages/CountryPage.js
Due: none

added project field in all tag models
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

changed name of project field
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added missing 'on_delete'
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Manage migration files to avoid issues with reorder_stages and add_taxonomies script
  django/project/migrations/0109_auto_20230807_1425.py
  django/project/migrations/0110_auto_20230823_1021.py
  django/project/migrations/0111_reorder_stages.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

included initiative url in tag approval/decline email
  django/project/tasks.py
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

project field can be blank in tag object
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add project id to the setNewItem request
  frontend/components/project/ProjectForm.vue
  frontend/components/project/SelectBox.vue
  frontend/components/project/sections/Technology.vue
  frontend/store/projects.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fix/Add project_id to setNewItem
  frontend/store/projects.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

corrected field for initiative retrieval
  django/project/tasks.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixed initiative fields for url creation
  django/project/tasks.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixed position of comment field in admin panel
  django/templates/admin/base.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add hot reload to tiltfile and dockerfile for the frontend
  Dockerfile.frontend
  Tiltfile
Due: none

fix/Fetch id from url instead of project to avoid null issues
  frontend/components/project/ProjectForm.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Feature/168739/improve notification email template (#222)
  django/project/migrations/0109_auto_20230807_1425.py
  django/project/migrations/0110_auto_20230823_1021.py
  django/project/migrations/0111_reorder_stages.py
  django/project/models.py
  django/project/tasks.py
  django/templates/email/master-inline.html
  django/templates/email/master.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove duplicate migration file
  django/project/migrations/0107_reorder_stages.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixed position of comment field in admin panel (#223)
  django/templates/admin/base.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Remove retrieval of url from ProjectForm and add it on SelectBox component
  frontend/components/project/ProjectForm.vue
  frontend/components/project/SelectBox.vue
  frontend/components/project/sections/Technology.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

update
  e2e/package.json
Due: none

fix/Modify project view and serializers to receive project id and match with project model
  django/project/serializers.py
  django/project/views.py
  frontend/components/project/SelectBox.vue
  frontend/store/projects.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Merge 'dev' into 'tst'
  django/project/migrations/0109_auto_20230807_1425.py.py
  django/project/migrations/0110_auto_20230823_1021.py
  django/project/migrations/0111_reorder_stages.py
  django/project/models.py
  django/project/serializers.py
  django/project/tasks.py
  django/project/views.py
  django/templates/admin/base.html
  django/templates/email/master-inline.html
  django/templates/email/master.html
  frontend/components/project/SelectBox.vue
  frontend/store/projects.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Remove unnecessary projectId prop from SelectBox
  frontend/components/project/SelectBox.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
  azure-pipelines/frontend/tst-trigger.yml: any of: frontend
  azure-pipelines/frontend/uat-trigger.yml: any of: frontend
