Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

TO build new image
  frontend/helm/Chart.yaml
Due: azure-pipelines/frontend/dev-trigger.yml

View .env file in frontend during build
  Dockerfile.frontend
Due: none

fix publish test
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/pages/InitiativePage.js
Due: none

Removed unnecessary step from frontend dockerfile
  Dockerfile.frontend
Due: none

Publish + Draft
  e2e/cypress/e2e/CreateDraftInitiative.cy.js
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/pages/InitiativePage.js
Due: none

publish fix
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
Due: none

Publish fixes
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/pages/InitiativePage.js
Due: none

Added back the health check to backend
  django/helm/templates/deployment.yaml
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Added the healthcheck in the backend
  django/helm/templates/deployment.yaml
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/147534/backend api (#46)
  django/project/models.py
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

intermidiate commit view works with no tables, edit loads data
  frontend/components/solution/CollapsibleSolutionCard.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/edit.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/edit/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/published/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/index.vue
  frontend/store/solution.js
  frontend/store/solutions.js
  frontend/utilities/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

First working iteration of solution view page
  frontend/components/BreadCrumb.vue
  frontend/components/common/TopBar.vue
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/SolutionNavigation.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/edit/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/published/index.vue
  frontend/store/solution.js
  frontend/utilities/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

removed yarn.lock from cache
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

finished solution view
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/SolutionData.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/edit.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/published/index.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

working countries table, porfolios table
  frontend/components/common/CountrySelectSingle.vue
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/PhaseSelect.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionPhaseSelect.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/store/countries.js
  frontend/store/solution.js
  frontend/store/system.js
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/147534/view solution details page (#47)
  frontend/components/BreadCrumb.vue
  frontend/components/common/CountrySelectSingle.vue
  frontend/components/common/TopBar.vue
  frontend/components/solution/CollapsibleSolutionCard.vue
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PhaseSelect.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/SolutionNavigation.vue
  frontend/components/solution/SolutionPhaseSelect.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/edit.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/edit/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/published/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/index.vue
  frontend/store/countries.js
  frontend/store/solution.js
  frontend/store/solutions.js
  frontend/store/system.js
  frontend/utilities/solutions.js
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

added old yarn.lock
  frontend/.gitignore
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

correct yarn.lock file
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

fixes
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/pages/HomePage.js
  e2e/cypress/pages/InitiativePage.js
Due: none

feat:Add basic update mechanism
  django/core/views.py
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

corrections for solution view
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/SolutionData.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/published/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml

updated none
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/SolutionData.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/147534/view solution details page corrections (#48)
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/SolutionData.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/published/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml

added asc sorting in countries table, added show phase name from id
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/SolutionData.vue
Due: azure-pipelines/frontend/dev-trigger.yml

added asc sorting in countries table, added show phase name from id (#49)
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/SolutionData.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Added the .env.prd file in django Changes to the translation directories to use the "azureblob-nfs-std" storage class
  django/.env.prd
  django/helm/templates/media-pvc.yaml
  django/helm/templates/sc-nfs-std.yaml
  django/helm/values-dev.yaml
  django/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Test to create a storageclass
  django/helm/templates/sc-nfs-std.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert changes in the storage class
  django/helm/templates/sc-nfs-std.yaml
  django/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Chaged the storage class for the translation folders
  django/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Added the media pvc also in the frontend helm charts
  frontend/helm/media-pvc.yaml
  frontend/helm/values.yaml
Due: azure-pipelines/frontend/dev-trigger.yml

small change in the settings.py django file
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Configured all PVCs to use the azureblob-nfs-std storage class
  django/.env.prd
  django/helm/templates/media-pvc.yaml
  django/helm/values.yaml
  django/tiip/settings.py
  frontend/helm/Chart.yaml
  frontend/helm/media-pvc.yaml
  frontend/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

Fixed the DB connection for the PRD database
  django/.env.prd
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat: Add is_active property in solution model
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

changed view url to solutions/id from solutions/id/published
  frontend/components/BreadCrumb.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/published/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml

changed view url to solutions/id from solutions/id/published (#50)
  frontend/components/BreadCrumb.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/published/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml

feat: Generate portfolio_problem_statements property in Solution model
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore: Add docstring in get_portfolio_problem_statements
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix: Add portfolios and problem_statements lists
  django/project/serializers.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
