Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

Feature/147518/edit solution page 3 (#58)
  django/core/views.py
  django/project/permissions.py
  django/project/views.py
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id.vue
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

new people reached ovveride business logic with null
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

changes to delete and cancel go to view and portfolio page, bold on solution edit checkbox fields, required to save
  frontend/components/solution/CollapsibleSolutionCard.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

added top padding in portfolio table
  frontend/components/solution/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/147518/edit solution page 4 (#59)
  frontend/components/solution/CollapsibleSolutionCard.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

fixed counties id in table
  frontend/components/solution/CountriesTableInput.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fixed counties id in table (#60)
  frontend/components/solution/CountriesTableInput.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Added the portfolioviewset
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/147518/edit solution backend api (#61)
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

removed non used features/cleanup, added query param
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

1st iteration, page with sample data
  frontend/assets/style/main.less
  frontend/components/common/ActionBar.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
  frontend/store/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

fixed breacrumb according to project get in, added api call
  frontend/components/BreadCrumb.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/index.vue
  frontend/store/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

added fallback project in breadcrumb, hide unused tabs in problem solutions page
  frontend/.env
  frontend/.env.template
  frontend/components/BreadCrumb.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

removed sorting in solutions page
  frontend/components/solution/dashboard/MainSolutionsTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

improved no project query, does not show breadcrumb
  frontend/.env
  frontend/.env.template
  frontend/components/BreadCrumb.vue
Due: azure-pipelines/frontend/dev-trigger.yml

breadcrumb double name bugfix
  frontend/components/BreadCrumb.vue
Due: azure-pipelines/frontend/dev-trigger.yml

portfolio solutions table ready
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
  frontend/store/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/147538/portfolio page with solutions (#62)
  frontend/assets/style/main.less
  frontend/components/BreadCrumb.vue
  frontend/components/common/ActionBar.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id/index.vue
  frontend/store/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

basic solution list works, solution delete works
  frontend/components/BreadCrumb.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
  frontend/pages/_organisation/portfolio/innovation/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/index.vue
  frontend/store/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

removed redirect to portfolio on delete solution, removed text below cancel on edit solution
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/SolutionForm.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/147517/basic solution list (#63)
  frontend/components/BreadCrumb.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
  frontend/pages/_organisation/portfolio/innovation/index.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/index.vue
  frontend/store/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

fixes
  e2e/cypress.env.json
  e2e/cypress/e2e/CancelInitiative.cy.js
  e2e/cypress/e2e/ContactExportButton.cy.js
  e2e/cypress/e2e/CreateDraftInitiative.cy.js
  e2e/cypress/e2e/CreatePublishInitiative.cy.js
  e2e/cypress/e2e/UserWithOneInitiativesHomePage.cy.js
Due: none

Fixed breadcrumb in portfolio-innovation-id, added pagination to portfolio solutions and to all solutions pages
  frontend/components/BreadCrumb.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Fixed breadcrumb in portfolio-innovation-id, added pagination to portfolio solutions and to all solutions pages (#64)
  frontend/components/BreadCrumb.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Added portfolioviewset - filtered out inactive solutions
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Start for Innocation
  e2e/cypress/pages/InnovationPortfoliosPage.js
Due: none

Added portfolioviewset - filtered out inactive solutions (#65)
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

create new solution page added
  frontend/components/BreadCrumb.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/NewSolutionForm.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/create.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/index.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

fixed redirects for new solution save and cancel
  frontend/components/solution/NewSolutionForm.vue
  frontend/components/solution/SolutionForm.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/147526/create solution page (#66)
  frontend/components/BreadCrumb.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/NewSolutionForm.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/create.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/index.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

Changed permissions for the SolutionUpdateViewSet
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Changed permissions for the SolutionUpdateViewSet (#67)
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

updated the permissions for the solution edit page
  django/project/permissions.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/148943/delete solution backend (#68)
  django/project/permissions.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added Portfolio metrics in Edit portfolio, show pagination for total > 10 in all solutions and solutions per project
  frontend/components/portfolio/form/Metrics.vue
  frontend/components/portfolio/form/NewPortfolioForm.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/store/portfolio.js
  frontend/utilities/portfolio.js
Due: azure-pipelines/frontend/dev-trigger.yml

Updated the readiness delay of the django service
  django/helm/templates/deployment.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added Edit portfolio button, 403 error page, changed routing of edit portfolio to portfolio-innovation
  frontend/components/common/Tabs.vue
  frontend/components/portfolio/form/NewPortfolioForm.vue
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
  frontend/pages/_organisation/portfolio/innovation/_id.vue
  frontend/pages/_organisation/portfolio/management/_id/edit/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml

added metrics to portfolio api calls
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added metrics to portfolio api calls (#71)
  django/project/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml
