Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:

trigger:
  branches:
    include:
      - tst

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

patching the export_resource_classes to the User model
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added comment
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Bugfix/130138/admin export users fails (#184)
  django/core/admin/__init__.py
  django/user/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

apply the business requirements for the current phase
  django/project/models.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove unnecessary commands from startup_actions
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Silence opentelemetry logs in dev
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add_checkbox_end_phase_update_current_stage
  django/project/migrations/0106_stage_completion_marks_an_initiative_as_inactive.py
  django/project/models.py
  django/project/tests/project_stage_tests.py
  django/project/tests/project_structure_tests.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove unnecessary log statements
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

dynamically get end phases and hide them in phases board
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

remove cache structire
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feature/160750/make end phases config (#186)
  django/project/migrations/0106_stage_completion_marks_an_initiative_as_inactive.py
  django/project/models.py
  django/project/tests/project_stage_tests.py
  django/project/tests/project_structure_tests.py
  django/project/views.py
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Count last phase always as end phase
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Count last phase always as end phase (#187)
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Add comments to requirements.txt
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Create custom admin site
  django/core/admin/__init__.py
  django/core/admin/custom_admin.py
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

update version to 3.6.0
  django/.env.dev
  django/.env.local
  django/.env.tst
  django/.env.uat
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Release/v3.6.0 (#189)
  django/.env.dev
  django/.env.local
  django/.env.tst
  django/.env.uat
  django/core/resources.py
  django/startup_actions.sh
  frontend/assets/style/variables.less
  frontend/components/BreadCrumb.vue
  frontend/components/landing/CountryFlagInfo.vue
  frontend/components/landing/LandingInitiativesTable.vue
  frontend/store/phasesStagesBoard.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

feat/Add custom AdminSite to remove certain features
  django/core/admin/__init__.py
  django/core/admin/custom_admin.py
  django/project/admin.py
  django/tiip/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add new attribute completion_marks_an_initiative_as_inactive to test files
  django/project/tests/project_stage_tests.py
  django/project/tests/setup.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add custom migration files
  django/project/migrations/0086_reload_data_rebuild_search_engine.py
  django/project/migrations/0107_reorder_stages.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add print statements to add_taxonomies
  django/project/management/commands/add_taxonomies.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor code
  django/project/management/commands/add_taxonomies.py
  django/project/migrations/0086_reload_data_rebuild_search_engine.py
  django/project/migrations/0107_reorder_stages.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Minor fix to add_taxonomies.py
  django/project/management/commands/add_taxonomies.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

increase coverage version 2
  django/project/tests/setup.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

remove return from def fill_named_model -initial form
  django/project/management/commands/add_taxonomies.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Bugfix/increase dev test coverage (#190)
  django/project/management/commands/add_taxonomies.py
  django/project/migrations/0086_reload_data_rebuild_search_engine.py
  django/project/migrations/0107_reorder_stages.py
  django/project/tests/project_stage_tests.py
  django/project/tests/setup.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert "Count last phase always as end phase"
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Revert "dynamically get end phases and hide them in phases board"
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

remove tests for discontinued and remove duplicate class
  django/project/tests/project_stage_tests.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

remove tests for discontinued and remove duplicate class (#193)
  django/project/tests/project_stage_tests.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Deployment to test environment (#194)
  django/core/admin/__init__.py
  django/project/management/commands/add_taxonomies.py
  django/project/migrations/0086_reload_data_rebuild_search_engine.py
  django/project/migrations/0106_stage_completion_marks_an_initiative_as_inactive.py
  django/project/migrations/0107_reorder_stages.py
  django/project/models.py
  django/project/tests/project_stage_tests.py
  django/project/tests/project_structure_tests.py
  django/project/tests/setup.py
  django/project/views.py
  django/search/views.py
  django/startup_actions.sh
  django/user/models.py
  frontend/components/BreadCrumb.vue
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Replaced old logo, updated footer text, removed term and conditions
  django/templates/email/master-inline.html
  django/templates/email/master.html
  nginx/site/static/email/unicef-logo-banner-old.png
  nginx/site/static/email/unicef-logo-banner.svg
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update requirements.txt
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added link to country in initiatives published view
  frontend/components/project/OfficeLinkField.vue
  frontend/components/project/ProjectData.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

updated data test id, added link to inventory countries column
  frontend/components/common/CountryItem.vue
  frontend/components/project/OfficeLinkField.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

add_extra_field_link_fix_size_box_update_api_structure
  django/project/admin.py
  django/project/models.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

hide initiatives that have completed an end phase
  frontend/components/landing/LandingInitiativesTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

add migration file / update test
  django/project/migrations/0108_stage_link.py
  django/project/tests/project_stage_tests.py
  django/project/tests/project_structure_tests.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix the coverage - pass unit tests
  django/project/management/commands/add_taxonomies.py
  django/project/migrations/0107_reorder_stages.py
  django/project/migrations/0107_stage_link.py
  django/project/migrations/0108_reorder_stages.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

update def so as not get multiple objects
  django/project/management/commands/add_taxonomies.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml
