Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:
  steps:
  - script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

change JWTSerializer to TokenObtainPairSerializer to have access to get_token
  django/user/serializers.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

change ProfileJWTSerializer to CustomTokenObtainPairSerializer
  django/tiip/settings.py
  django/user/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

convert jwt to access
  django/tiip/settings.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Split login logic for username/password and azure login
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add autocomplete platform field
  django/project/admin.py
  django/user/adapters.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Clean up requirements.txt
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add dynamic url on delete action on admin panel
  django/templates/admin/project/submit_line.html
  django/templates/admin/submit_line.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Added pvc for static files
  django/helm/templates/deployment.yaml
  django/helm/templates/static-pvc.yaml
  frontend/helm/templates/deployment.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Added the nginx trigger for the frontend pipelines
  azure-pipelines/frontend/dev-trigger.yml
  azure-pipelines/frontend/tst-trigger.yml
  azure-pipelines/frontend/uat-trigger.yml
Due: none

chore/Remove custom admin behavior code
  django/templates/admin/base.html
  django/templates/admin/project/submit_line.html
  django/templates/admin/submit_line.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add collecstatic on startup actions
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Fixed the nginx static files being overwritten
  Dockerfile.nginx
  frontend/helm/templates/deployment.yaml
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fix/collectstatic --noinput and application insights envs
  django/startup_actions.sh
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove redundant tests
  django/project/tests/customfields_tests.py
  django/project/tests/permission_tests.py
  django/project/tests/project_tests.py
  django/project/tests/review_tests.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Revert "chore/Remove redundant tests"
  django/project/tests/customfields_tests.py
  django/project/tests/permission_tests.py
  django/project/tests/project_tests.py
  django/project/tests/review_tests.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Updated the string connection for the unit tests database
  django/.env.unit-tests
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Update DATABASE_HOST to the new pgsql-14 instance
  django/.env.prd
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Remove collectstatic from startup_actions and change API_MAINTAINER value
  django/.env.dev
  django/.env.local
  django/.env.prd
  django/.env.tst
  django/.env.uat
  django/.env.unit-tests
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Restore static-pvc and collectstatic
  django/helm/templates/deployment.yaml
  django/helm/templates/static-pvc.yaml
  django/startup_actions.sh
  frontend/helm/templates/deployment.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore/Apply formatting
  django/azure_services/urls.py
  django/core/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Delete problematic country 0058 migration file
  django/country/migrations/0058_countryoffice_lat_countryoffice_lon.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Upgrade migration files on country app
  django/country/migrations/0057_auto_20230905_0924.py
  django/country/migrations/0058_alter_country_admins_alter_country_id_and_more.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Upgrade migration files on project app
  django/project/migrations/0113_auto_20230905_1521.py
  django/project/migrations/0114_alter_historicalprojectapproval_options_and_more.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add migration file 0113_alter_historicalprojectapproval_options_and_more
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add showmigrations on startup_actions
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Apply formatting to azure_services app
  django/azure_services/apps.py
  django/azure_services/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix: deactivate monthly notifications about retired review system
  django/project/tasks.py
  django/project/tests/notification_tests.py
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add failing test
  django/core/tests.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

ensure sensible fallback for notifications about new feedback tickets
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

add missing template with simple contents
  django/templates/email/notify_template.html
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

run locally on non privileged port
  Tiltfile
  django/.env.local
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Automatically reset sequences after restoring database dump to avoid out of sync auto incremented keys
  Tiltfile
Due: none

change redis readiness checks to reduce false negatives
  Tiltfile
Due: none

enable vue dev tools when running locally
  frontend/.env.local
  frontend/nuxt.config.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

remove node-sass and rely on sass
  .gitignore
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Always run migrations after db restore
  Tiltfile
Due: none

ensure django build is complete before running migrations
  Tiltfile
Due: none

use init container to improve host settings for redis
  Tiltfile
Due: none

Path conditions:
  azure-pipelines/django/dev-trigger.yml: any of: django
  azure-pipelines/django/uat-trigger.yml: any of: django
  azure-pipelines/frontend/dev-trigger.yml: any of: frontend
  azure-pipelines/frontend/tst-trigger.yml: any of: frontend
  azure-pipelines/frontend/uat-trigger.yml: any of: frontend
