Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

updated portfolio problem statements table data object
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/SolutionData.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

updated portfolio problem statements table data object (#51)
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/SolutionData.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

dynamic Innovation portfolio table, pending field values
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioSelectSingle.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/ProblemStatementsSelector.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/store/solution.js
  frontend/utilities/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

added portfolios-solutions table 1st iteration
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/ProblemStatementsSelector.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

removed console.log
  frontend/components/solution/ProblemStatementsSelector.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/147518/edit solution backend api (#53)
  django/core/views.py
  django/project/models.py
  django/project/serializers.py
  django/project/urls.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

solution vuex correction, countries table correction
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/SolutionForm.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

corrections to solution view, asc countries multilingual, 1st iteration edit solution form with delete and cancel
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/PortfolioSelectSingle.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/147518/edit solution page (#54)
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioSelectSingle.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/ProblemStatementsSelector.vue
  frontend/components/solution/SolutionData.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/store/solution.js
  frontend/utilities/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

Removed the media pvc from the frontend deployment
  frontend/helm/media-pvc.yaml
  frontend/helm/values.yaml
Due: azure-pipelines/frontend/dev-trigger.yml

Fixed the URL for the Production DB Removed the media pvc from the frontend deployment
  django/.env.prd
  frontend/helm/media-pvc.yaml
  frontend/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

Added annotations to PVCs to be kept after helm delete
  django/helm/templates/media-pvc.yaml
  django/helm/templates/translations-pvc.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Added annotations to not delete the PVCs in case of Helm delete
  django/helm/templates/media-pvc.yaml
  django/helm/templates/translations-pvc.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

bug fix localeCompare, portfolio select single fix
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/PortfolioSelectSingle.vue
Due: azure-pipelines/frontend/dev-trigger.yml

updates
  e2e/cypress.config.js
  e2e/cypress/e2e/CreateDraftInitiative.cy.js
  e2e/cypress/e2e/logOut.cy.js
  e2e/cypress/reports/html/index.html
  e2e/cypress/videos/CreateDraftInitiative.cy.js.mp4
  e2e/cypress/videos/logOut.cy.js.mp4
Due: none

Updates
  e2e/cypress/e2e/UserWithOneInitiativesHomePage.cy.js
  e2e/cypress/e2e/UserWithThreeInitiativesHomePage.cy.js
  e2e/cypress/e2e/UserWithTwoInitiativesHomePage.cy.js
  e2e/cypress/e2e/UserWithZeroInitiativesHomePage.cy.js
  e2e/cypress/pages/HomePage.js
Due: none

fixed prefix for partner website in Initiatives view, added target new window
  frontend/components/project/ProjectData.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fixed css for countries table and linked country data
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/ProblemStatementsSelector.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

add requests class and getInitiativesList fucntion
  e2e/cypress.config.js
  e2e/cypress/e2e/UserWithOneInitiativesHomePage.cy.js
  e2e/cypress/pages/LoginForm.js
  e2e/cypress/support/Requests.js
Due: none

tables working with disabled selected values, styling fixed
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/CountrySelectDisabledSingle.vue
  frontend/components/solution/PortfolioSelectSingle.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/ProblemStatementsSelector.vue
  frontend/components/solution/sections/ActivityAndReach.vue
Due: azure-pipelines/frontend/dev-trigger.yml

save solution edit 1st iteration working
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/ProblemStatementsSelector.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

changed new country id to row_id
  frontend/components/solution/CountriesTableInput.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

fixed 0 bug for Phase and fixed bug solution/getLoading
  frontend/components/solution/SolutionPhaseSelect.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/store/solution.js
Due: azure-pipelines/frontend/dev-trigger.yml

Unathorized user
  e2e/cypress.env.json
  e2e/cypress/e2e/UnathorizedUser.cy.js
  e2e/cypress/e2e/UserWithOneInitiativesHomePage.cy.js
  e2e/cypress/pages/LoginForm.js
  e2e/cypress/pages/LoginPage.js
Due: none

fix/Fix issues on Solution model
  django/project/models.py
  django/project/serializers.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

final edit solution, save, table empty checks, all work ok
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioSelectSingle.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/utilities/solutions.js
Due: azure-pipelines/frontend/dev-trigger.yml

feat/Add functionality to SolutionUpdateViewSet
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add comments and docstrings
  django/project/models.py
  django/project/serializers.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Add new custom 404 Response for the view Solution
  django/core/views.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Minor fix on identation
  django/project/models.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fixed bug country regions from array take only the 1st value
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/CountriesTableInput.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/147518/edit solution backend api (#57)
  django/core/views.py
  django/project/models.py
  django/project/serializers.py
  django/project/views.py
  frontend/components/solution/CountriesTable.vue
  frontend/components/solution/CountriesTableInput.vue
  frontend/components/solution/CountrySelectDisabledSingle.vue
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/PortfolioSelectSingle.vue
  frontend/components/solution/PortfolioTable.vue
  frontend/components/solution/PortfolioTableInput.vue
  frontend/components/solution/ProblemStatementsSelector.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/SolutionPhaseSelect.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/components/solution/sections/GeneralOverview.vue
  frontend/store/solution.js
  frontend/utilities/solutions.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

API changes
  e2e/cypress/e2e/UserWithOneInitiativesHomePage.cy.js
  e2e/cypress/support/Requests.js
Due: none

one initiave
  e2e/cypress/e2e/UserWithOneInitiativesHomePage.cy.js
Due: none

feat/Add anonymization script
  django/anonymizer/anonymize_db.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feat/Minor additino to core_newsitem columns
  django/anonymizer/anonymize_db.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

auth fix for solutions edit
  frontend/components/solution/FormActionsAside.vue
  frontend/components/solution/SolutionForm.vue
  frontend/components/solution/sections/ActivityAndReach.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

improved error message in solution save
  frontend/components/solution/SolutionForm.vue
  frontend/pages/_organisation/portfolio/innovation/solutions/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

bugfix for view solution auth
  frontend/pages/_organisation/portfolio/innovation/solutions/_id.vue
Due: azure-pipelines/frontend/dev-trigger.yml

fix/Add custom IsGPOOrManagerOfAtLeastOnePortfolio
  django/core/views.py
  django/project/permissions.py
  django/project/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml
