Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*
      - nginx/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/tst-trigger.yml:

trigger:
  branches:
    include:
      - tst

  paths:
    include:
      - frontend/*
      - nginx/*

pr: none

steps:
- script: echo "This pipeline will trigger the TST Frontend pipeline in Azure DevOps."

azure-pipelines/frontend/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - frontend/*
      - nginx/*

pr: none

steps:
- script: echo "This pipeline will trigger the UAT Frontend pipeline in Azure DevOps."

Enable debugger if in debug and Tiltfile forces use of django dev server
  Tiltfile
  django/helm/templates/deployment.yaml
  django/manage.py
  django/requirements.txt
  django/startup_actions.sh
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Allow debugging unit test runs when ENABLE_DEBUGPY_FOR_UNIT_TESTS is set to true
  Tiltfile
  django/conftest.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore(dev-env): improve development environment setup
  .gitignore
  Tiltfile
  django/.env.local
  django/conftest.py
  django/helm/templates/deployment.yaml
  django/manage.py
  django/requirements.txt
  django/startup_actions.sh
  django/tiip/settings.py
  frontend/.env.local
  frontend/nuxt.config.js
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore change default feedback notification email to example.org
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Chore remove .env.local
  frontend/.env.local
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Chore ensure frontend .env.local not committed
  frontend/.gitignore
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Test deploy to dev
  frontend/layouts/default.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Test deploy to dev
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Revert "Test deploy to dev"
  frontend/layouts/default.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Revert "Test deploy to dev"
  frontend/pages/auth.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore: simpify .env files, removing use .env.local
  frontend/.env
  frontend/.env.template
  frontend/nuxt.config.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore remove .env file to test creation during build
  frontend/.env
  frontend/.gitignore
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

chore bump version
  django/.env.dev
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Feat add page url to feedback form submission metadata
  frontend/components/feedback/RawDjangoFeedback.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Test update payload to match modified widget data by including a page attribute set to a page url
  django/core/tests.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Squashed commit of the following:
  django/project/tests/project_tests.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Use env and setting to determine who is notified when there is a new taxonomy request
  django/.env.local
  django/project/tasks.py
  django/project/tests/project_tests.py
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix filtering logic to exclude projects in a 'final phase' when sending reminders on stale published projects
  django/project/models.py
  django/project/tasks.py
  django/project/tests/notification_tests.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix: fixes 226468 (incoherent versioning data prevents modification and publication) by making the autoincrement of versioning numbers more resilient
  django/project/models.py
  django/project/tests/project_version_tests.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore bump version numbers
  django/.env.local
  django/.env.prd
  django/.env.tst
  django/.env.uat
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Config set address for tag approval requests in production
  django/.env.prd
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

build: use v2 autoscaling api in preparation for kubernetes v1.25
  django/helm/templates/hpa.yaml
  frontend/helm/templates/hpa.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

add test for fragile export and fix by handling cases where expected sector attributes are missing
  django/project/resources.py
  django/project/tests/admin_tests.py
  django/project/tests/factories/project_factories.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Add missing email template for notification of successful export
  django/templates/email/export_job_completion.html
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Remove DHA footer
  frontend/components/common/DhaFooter.vue
  frontend/layouts/default.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Added a page detailing the release history
  frontend/pages/_organisation/releases.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

fix breadcrumbs and remove unnecessary Go Back button
  frontend/components/BreadCrumb.vue
  frontend/pages/_organisation/releases.vue
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml

Remove old requirements file
  django/requirements-freeze-django1.10.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

update stmp settings
  django/.env.prd
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

increase number of versions retained for django deployments
  django/helm/values.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Bump version number
  django/.env.dev
  django/.env.local
  django/.env.prd
  django/.env.tst
  django/.env.uat
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Add sentry dsn to env vars with value from key vaults
  django/helm/templates/deployment.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Reflect addition of sentry dsn in secret provider config
  django/helm/templates/secrets-vault.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

config set environment in sentry sdk init
  django/tiip/settings_deployed.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

config retrieve sender email address from keyvault when deployed to azure
  django/helm/templates/deployment.yaml
  django/helm/templates/secrets-vault.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Add secrets to celery deployment spec
  django/helm/templates/deployment-celery.yaml
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Also set SERVER_EMAIL to ensure that django import export emails are sent from the default from mail
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Allow SERVER_EMAIL to be set differently but default to the same as DEFAULT_FROM_EMAIL
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Add sentry to frontend
  frontend/nuxt.config.js
Due: azure-pipelines/frontend/dev-trigger.yml, azure-pipelines/frontend/tst-trigger.yml, azure-pipelines/frontend/uat-trigger.yml
