Repository unicef/INVENT: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

azure-pipelines/django/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the DEV Django pipeline in Azure DevOps."

azure-pipelines/django/uat-trigger.yml:

trigger:
  branches:
    include:
      - uat

  paths:
    include:
      - django/*

pr: none

steps:
  - script: echo "This pipeline will trigger the UAT Django pipeline in Azure DevOps."

azure-pipelines/frontend/dev-trigger.yml:

trigger:
  branches:
    include:
      - dev

  paths:
    include:
      - frontend/*

pr: none

steps:
- script: echo "This pipeline will trigger the DEV Frontend pipeline in Azure DevOps."

fix loading and clearing metrics values
  frontend/store/portfolio.js
Due: azure-pipelines/frontend/dev-trigger.yml

set max limit and only interger
  frontend/components/portfolio/form/Metrics.vue
  frontend/components/project/ProjectData.vue
  frontend/store/charts.js
  frontend/utilities/portfolio.js
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

Delete yarn.lock
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

set max limit and only interger (#73)
  frontend/components/portfolio/form/Metrics.vue
  frontend/components/project/ProjectData.vue
  frontend/store/charts.js
  frontend/utilities/portfolio.js
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

old yarn
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

old yarn (#74)
  frontend/yarn.lock
Due: azure-pipelines/frontend/dev-trigger.yml

improved metrics validation
  .gitignore
  frontend/components/portfolio/form/Metrics.vue
  frontend/utilities/portfolio.js
Due: azure-pipelines/frontend/dev-trigger.yml

improved metrics validation (#75)
  .gitignore
  frontend/components/portfolio/form/Metrics.vue
  frontend/utilities/portfolio.js
Due: azure-pipelines/frontend/dev-trigger.yml

Hide portfolio manager navigation entry
  frontend/.gitignore
  frontend/components/common/TopBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Hide portfolio manager navigation entry (#76)
  frontend/.gitignore
  frontend/components/common/TopBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Added the triggers for the tst and uat frontend pipelines
  azure-pipelines/frontend/tst-trigger.yml
  azure-pipelines/frontend/uat-trigger.yml
Due: none

feat/Add method to fetch users
  django/azure/urls.py
  django/azure/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

feature/Add fetch user api
  django/azure/urls.py
  django/azure/views.py
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor user info
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Add debugging logs
  django/azure/provider.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

focal point and team selector new functionality
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/TeamSelector.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/GeneralOverview.vue
  frontend/store/project.js
  frontend/utilities/projects.js
Due: azure-pipelines/frontend/dev-trigger.yml

contact name changes for 155307
  frontend/components/common/ProjectBar.vue
  frontend/components/project/ProjectData.vue
  frontend/components/project/sections/GeneralOverview.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Feature/153817/replace focal point with single person (#77)
  frontend/components/common/ProjectBar.vue
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/ProjectData.vue
  frontend/components/project/TeamSelector.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/GeneralOverview.vue
  frontend/store/project.js
  frontend/utilities/projects.js
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Remove fetch user info
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

updated person picker shows extra details
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/TeamSelector.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/GeneralOverview.vue
  frontend/store/system.js
Due: azure-pipelines/frontend/dev-trigger.yml

updated person picker shows extra details (#78)
  frontend/components/project/FocalProfileSelector.vue
  frontend/components/project/TeamSelector.vue
  frontend/components/project/UserProfileSelector.vue
  frontend/components/project/sections/GeneralOverview.vue
  frontend/store/system.js
Due: azure-pipelines/frontend/dev-trigger.yml

Remove Initiative/Phases tabs from View Initiative page
  frontend/components/common/ProjectBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml

Remove Initiative/Phases tabs from View Initiative page (#79)
  frontend/components/common/ProjectBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml

feat/Add azure-all-users call
  django/azure/views.py
  django/user/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

removed footer, fixed height styles
  frontend/assets/style/main.less
  frontend/assets/style/variables.less
  frontend/components/DhaLogin.vue
  frontend/components/dashboard/MainTable.vue
  frontend/components/landing/AboutSection.vue
  frontend/layouts/default.vue
  frontend/pages/_organisation/portfolio/innovation/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml

chore/Minor improvements to fetch all user info call
  django/azure/views.py
  django/user/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

fix/Revert code to debug build issue
  django/azure/views.py
  django/user/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

removed footer, fixed height styles (#80)
  frontend/assets/style/main.less
  frontend/assets/style/variables.less
  frontend/components/DhaLogin.vue
  frontend/components/dashboard/MainTable.vue
  frontend/components/landing/AboutSection.vue
  frontend/layouts/default.vue
  frontend/pages/_organisation/portfolio/innovation/index.vue
Due: azure-pipelines/frontend/dev-trigger.yml

retrieve aad user list and get new users
  django/azure/client.py
  django/azure/new_users.py
  django/azure/urls.py
  django/requirements.txt
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

organisation item removed from initiative pages
  frontend/components/common/ProjectBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml

moved get_azure_ad_users() and new_users() to provider.py
  django/azure/client.py
  django/azure/new_users.py
  django/azure/provider.py
  django/azure/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Debug aad data
  django/azure/provider.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Revert code
  django/azure/provider.py
  django/azure/views.py
  django/user/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

added sorting on portfolio solutions table
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

organisation item removed from initiative pages (#81)
  frontend/components/common/ProjectBar.vue
Due: azure-pipelines/frontend/dev-trigger.yml

added sorting on portfolio solutions table (#82)
  frontend/components/solution/dashboard/MainAllSolutionsTable.vue
  frontend/components/solution/dashboard/MainSolutionsTable.vue
Due: azure-pipelines/frontend/dev-trigger.yml

feat/Add API call to fetch/update AAD user info
  django/azure/provider.py
  django/azure/views.py
  django/user/adapters.py
  django/user/urls.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

Changed the new line in files from crlf to lf
  django/country/fixtures/null_land.json
  django/project/test-data/basic_data.sql
  frontend/.env
  nginx/site/static/admin/fonts/LICENSE.txt
  nginx/site/static/jsoneditor/jsoneditor.js
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml, azure-pipelines/frontend/dev-trigger.yml

Fixed the banner in the admin page of the production environment
  django/tiip/settings.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml

chore/Refactor code
  django/azure/provider.py
  django/azure/views.py
  django/user/adapters.py
  django/user/urls.py
  django/user/views.py
Due: azure-pipelines/django/dev-trigger.yml, azure-pipelines/django/uat-trigger.yml
